<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{FragmentForm.html :: head}"></form>
<body>
<div class="site-container">
    <form th:replace="~{FragmentForm.html :: header-icons-info}"></form>
    <form th:replace="~{FragmentForm.html :: header-container}"></form>
    <div class="theme-page padding-bottom-66">
        <div class="clearfix page-404 top-border">
            <div class="row margin-top-70">
                <div class="column column-1-1">
                    <h2 style="color: #1E69B8">OOOOPS!</h2>
                    <h1 style="color: red">404</h1>
                    <p class="description align-center" th:text="${errorMessage}" style="color: #1E69B8; font-weight: bold">We're sorry but something went wrong. Return to the <a
                            href="home.html" title="GO TO HOME">HOME</a>.</p>

                </div>
            </div>
        </div>
    </div>
    <form th:replace="~{FragmentForm.html :: footer-and-copyright}"></form>
</div>
<a href="#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>
<div class="background-overlay"></div>
<!--js-->
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<!--slider revolution-->
<script type="text/javascript" th:src="@{/plugins/rs-plugin/js/jquery.themepunch.tools.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ba-bbq.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui-1.12.1.custom.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ui.touch-punch.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.isotope.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.easing.1.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.carouFredSel-6.2.1-packed.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.touchSwipe.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.transit.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.hint.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.costCalculator.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.prettyPhoto.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.qtip.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.blockUI.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.imagesloaded-packed.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/odometer.min.js}"></script>
</body>
</html>