<!DOCTYPE html>
<html>
<head>
    <title>CarService - Mechanic Auto Shop Template</title>
    <!--meta-->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.2"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="keywords" content="Mechanic, Car, Auto"/>
    <meta name="description" content="Responsive Mechanic Auto Shop Template"/>
    <!--slider revolution-->
    <link rel="stylesheet" type="text/css" href="../static/plugins/rs-plugin/css/settings.css" media="screen"/>
    <!--style-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,600,700,800&amp;subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/superfish.css">
    <link rel="stylesheet" type="text/css" href="../static/css/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.qtip.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/animations.css">
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="../static/css/odometer-theme-default.css">
    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/streamline-small/style.css">
    <link rel="stylesheet" type="text/css" href="../static/fonts/template/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/fonts/social/styles.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico">
</head>
<body>
<div class="site-container">
    <div class="header-top-bar-container clearfix">
        <div class="header-top-bar">
            <ul class="contact-details clearfix">
                <li class="template-phone">
                    (+359) 888 667788
                </li>
                <li class="template-mail">
                    <a href="mailto:carservice@mail.com">ikaragyozov19@abv.bg</a>
                </li>
                <li class="template-clock">
                    Mon - Fri: 7:30 - 18:30
                </li>
            </ul>

            <ul class="social-icons">
                <li>
                    <a target="_blank" href="https://facebook.com/QuanticaLabs" class="social-facebook"
                       title="facebook"></a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter"
                       title="twitter"></a>
                </li>
                <li>
                    <a href="https://pinterest.com/quanticalabs/" class="social-pinterest" title="pinterest"></a>
                </li>
                <!--<li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-google-plus"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-youtube"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-linkedin"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-pinterest"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-dribble"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-skype"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-tumblr"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-instagram"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-xing"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-foursquare"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-rss"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-behance"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-picasa"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-stumbleupon"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-vimeo"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-houzz"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-yelp"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-github"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-reddit"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-soundcloud"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-vk"></a>
                </li>
                <li>
                    <a title="" href="https://1.envato.market/quanticalabs" class="social-vine"></a>
                </li>
                -->
            </ul>
        </div>
        <a href="#" class="header-toggle template-arrow-up"></a>
    </div>
    <div class="header-container">
        <!--<div class="header-container sticky">-->
        <div class="vertical-align-table column-1-1">
            <div class="header clearfix">
                <div class="logo vertical-align-cell">
                    <h1><a href="home.html" title="CarService">SMART GARAGE TI</a></h1>
                </div>
                <a href="#" class="mobile-menu-switch vertical-align-cell">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </a>
                <div class="menu-container clearfix vertical-align-cell">
                    <nav>
                        <ul class="sf-menu">
                            <li>
                                <a href="home.html" title="Home">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="services.html" title="Services">
                                    Services
                                </a>
                                <ul>
                                    <li>
                                        <a href="service_engine_diagnostics.html" title="Engine Diagnostics">
                                            Engine Diagnostics
                                        </a>
                                    </li>
                                    <li>
                                        <a href="service_lube_oil_filters.html" title="Lube, Oil and Filters">
                                            Lube, Oil and Filters
                                        </a>
                                    </li>

                                    <li>
                                        <a href="service_air_conditioning.html" title="Air Conditioning">
                                            Air Conditioning
                                        </a>
                                    </li>
                                    <li>
                                        <a href="service_brake_repair.html" title="Brake Repair">
                                            Brake Repair
                                        </a>
                                    </li>
                                    <li>
                                        <a href="service_tire_wheel.html" title="Tire and Wheel Services">
                                            Tire and Wheel Services
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="galleries.html" title="Gallery">
                                    Gallery
                                </a>
                            </li>

                            <li>
                                <a href="appointment.html" title="Appointment">
                                    Appointment
                                </a>
                            </li>
                            <li class="left-flyout">
                                <a href="contact_2.html" title="Contact">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="mobile-menu-container">
                        <div class="mobile-menu-divider"></div>
                        <nav>
                            <ul class="mobile-menu collapsible-mobile-submenus">
                                <li>
                                    <a href="home.html" title="Home">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="services.html" title="Services">
                                        Services
                                    </a>
                                    <a href="#" class="template-arrow-menu"></a>
                                    <ul>
                                        <li>
                                            <a href="service_engine_diagnostics.html" title="Engine Diagnostics">
                                                Engine Diagnostics
                                            </a>
                                        </li>
                                        <li>
                                            <a href="service_lube_oil_filters.html" title="Lube, Oil and Filters">
                                                Lube, Oil and Filters
                                            </a>
                                        </li>

                                        <li>
                                            <a href="service_air_conditioning.html" title="Air Conditioning">
                                                Air Conditioning
                                            </a>
                                        </li>
                                        <li>
                                            <a href="service_brake_repair.html" title="Brake Repair">
                                                Brake Repair
                                            </a>
                                        </li>
                                        <li>
                                            <a href="service_tire_wheel.html" title="Tire and Wheel Services">
                                                Tire and Wheel Services
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="galleries.html" title="Gallery">
                                        Gallery
                                    </a>

                                </li>
                                <li>
                                    <a href="services.html" title="Services Style 1">
                                        Services Style 1
                                    </a>
                                </li>
                                <li>
                                    <a href="service_engine_diagnostics.html" title="Single Service">
                                        Single Service
                                    </a>
                                </li>
                                <li>
                                    <a href="galleries.html" title="Galleries">
                                        Galleries
                                    </a>
                                </li>
                                <li>
                                    <a href="appointment.html" title="Appointment">
                                        Appointment
                                    </a>
                                </li>
                                <li class="left-flyout">
                                    <a href="contact_2.html" title="Contact">
                                        Contact
                                    </a>
                                    <a href="#" class="template-arrow-menu"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="theme-page">
        <div class="row gray full-width page-header vertical-align-table">
            <div class="row full-width padding-top-bottom-50 vertical-align-cell">
                <div class="row">
                    <div class="page-header-left">
                        <h1>ABOUT US</h1>
                    </div>
                    <div class="page-header-right">
                        <div class="bread-crumb-container">
                            <label>YOU ARE HERE:</label>
                            <ul class="bread-crumb">
                                <li>
                                    <a title="HOME" href="home.html">
                                        HOME
                                    </a>
                                </li>
                                <li class="separator">
                                    &#47;
                                </li>
                                <li>
                                    ABOUT US
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="row margin-top-70">
                <div class="column column-1-2">
                    <p class="description margin-top-0">We offer a full range of garage services to vehicle owners
                        located in Tucson area. All mechanic services are performed by highly qualified mechanics. We
                        can handle any car problem.</p>
                    <p class="margin-top-10">We offer full range of garage services to vehicle owners in Tucson. Our
                        professionals know how to handle a wide range of car services. Whether you drive a passenger car
                        or medium sized truck or SUV, our mechanics strive to ensure that your vehicle will be
                        performing at its best before leaving our car shop. Whether you drive a medium sized truck or
                        passenger car or SUV, our mechanics strive to ensure.</p>
                    <h4 class="box-header margin-top-26">WHY CHOOSE US</h4>
                    <ul class="list margin-top-30">
                        <li class="template-bullet">We make auto repair and maintenance more convenient for you</li>
                        <li class="template-bullet">We are a friendly, helpful and professional <a href="#">group of
                            people</a></li>
                        <li class="template-bullet">Our professionals know how to handle a wide range of <a href="#">car
                            services</a></li>
                        <li class="template-bullet">We get the job done right — the first time</li>
                        <li class="template-bullet">Same day service for most repairs and maintenance</li>
                    </ul>
                    <div class="page-margin-top">
                        <a class="more" href="services.html" title="OUR SERVICES"><span>OUR SERVICES</span></a>
                    </div>
                </div>
                <div class="column column-1-2">
                    <a href="../static/images/samples/870x580/image_05.jpg" class="prettyPhoto re-preload"
                       title="Brake Repair">
                        <img src='../static/images/samples/570x380/image_05.jpg' alt='img'>
                    </a>
                    <div class="row margin-top-30">
                        <div class="column column-1-2">
                            <a href="../static/images/samples/870x580/image_07.jpg" class="prettyPhoto re-preload"
                               title="Wheel Services">
                                <img src='../static/images/samples/570x380/image_07.jpg' alt='img'>
                            </a>
                        </div>
                        <div class="column column-1-2">
                            <a href="../static/images/samples/870x580/image_02.jpg" class="prettyPhoto re-preload"
                               title="Oil Change">
                                <img src='../static/images/samples/570x380/image_02.jpg' alt='img'>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gray full-width page-margin-top-section page-padding-top padding-bottom-66">
                <div class="row">
                    <div class="column column-1-4 align-center">
                        <span class="number animated-element" data-value="100"></span><span class="number sign">%</span>
                        <h5 class="margin-top-10">CUSTOMER<br>SATISFACTION</h5>
                    </div>
                    <div class="column column-1-4 align-center">
                        <span class="number animated-element" data-value="15"></span>
                        <h5 class="margin-top-10">CARS REPAIRED<br>PER DAY</h5>
                    </div>
                    <div class="column column-1-4 align-center">
                        <span class="number animated-element" data-value="702"></span>
                        <h5 class="margin-top-10">TIRES REPAIRED<br>A YEAR</h5>
                    </div>
                    <div class="column column-1-4 align-center">
                        <span class="number animated-element" data-value="5125"></span>
                        <h5 class="margin-top-10">TIGHTENED<br>BOLTS</h5>
                    </div>
                </div>
            </div>
            <div class="row full-width padding-top-70 padding-bottom-66 parallax parallax-2">
                <div class="row testimonials-container">
                    <a href="#" class="slider-control left template-arrow-left-1"></a>
                    <ul class="testimonials-list">
                        <li>
                            <div class="hexagon small">
                                <div class="sl-small-pen"></div>
                            </div>
                            <p>"I have taken several of the family cars here for the past several years and without
                                exception the experiences have been outstanding.
                                I would highly recommend this place to any one who wants great service, honest value,
                                and really great people."</p>
                            <h6>ROBERT SMITH</h6>
                            <!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
                        </li>
                        <li>
                            <div class="hexagon small">
                                <div class="sl-small-pen"></div>
                            </div>
                            <p>"I have taken several of the family cars here for the past several years and without
                                exception the experiences have been outstanding.
                                I would highly recommend this place to any one who wants great service, honest value,
                                and really great people."</p>
                            <h6>ROBERT SMITH</h6>
                            <!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
                        </li>
                        <li>
                            <div class="hexagon small">
                                <div class="sl-small-pen"></div>
                            </div>
                            <p>"I have taken several of the family cars here for the past several years and without
                                exception the experiences have been outstanding.
                                I would highly recommend this place to any one who wants great service, honest value,
                                and really great people."</p>
                            <h6>ROBERT SMITH</h6>
                            <!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
                        </li>
                    </ul>
                    <a href="#" class="slider-control right template-arrow-left-1"></a>
                </div>
            </div>
            <div class="row page-margin-top-section padding-bottom-66">
                <div class="row">
                    <h2 class="box-header">COMPANY OVERVIEW</h2>
                    <p class="description align-center">We can help you with everything from an oil change to an engine
                        change.<br>We can handle any problem on both foreign and domestic vehicles.</p>
                </div>
                <div class="row page-margin-top-section">
                    <div class="column column-1-3">
                        <ul class="features-list">
                            <li>
                                <h5>CAR AUDIO SERVICE</h5>
                                <div class="icon sl-small-car-audio"></div>
                                <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi
                                    nulla donec elite maecenas modern forte elementum vehicula.</p>
                            </li>
                            <li>
                                <h5>CAR A/C RECHARGE</h5>
                                <div class="icon sl-small-air-conditioning"></div>
                                <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi
                                    nulla donec elite maecenas modern forte elementum vehicula.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="column column-1-3">
                        <ul class="features-list">
                            <li>
                                <h5>FREE OIL CHANGE</h5>
                                <div class="icon sl-small-car-oil"></div>
                                <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi
                                    nulla donec elite maecenas modern forte elementum vehicula.</p>
                            </li>
                            <li>
                                <h5>PARKING SENSORS CALIBRATION</h5>
                                <div class="icon sl-small-parking-sensor"></div>
                                <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi
                                    nulla donec elite maecenas modern forte elementum vehicula.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="column column-1-3">
                        <ul class="features-list">
                            <li>
                                <h5>ENGINE DIAGNOSTICS</h5>
                                <div class="icon sl-small-signal-warning"></div>
                                <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi
                                    nulla donec elite maecenas modern forte elementum vehicula.</p>
                            </li>
                            <li>
                                <h5>CAR BATTERY REPAIRS</h5>
                                <div class="icon sl-small-car-battery"></div>
                                <p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi
                                    nulla donec elite maecenas modern forte elementum vehicula.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row dark-gray footer-row full-width padding-top-30 padding-bottom-50">
                <div class="row padding-bottom-30">
                    <div class="column column-1-3">
                        <ul class="contact-details-list">
                            <li class="sl-small-location-map">
                                <p>1324 Sofia, Bulgaria:<br>
                                    256 Tsar Simeon St</p>
                            </li>
                        </ul>
                    </div>
                    <div class="column column-1-3">
                        <ul class="contact-details-list">
                            <li class="sl-small-phone-circle">
                                <p>Feel Free to Call Us Now<br>
                                    (+359) 888 667788</p>
                            </li>
                        </ul>
                    </div>
                    <div class="column column-1-3">
                        <ul class="contact-details-list">
                            <li class="sl-small-truck-tow">
                                <p>24/7 Roadside Assistance<br>
                                    (+359) 888 667799</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row row-4-4 top-border page-padding-top">
                    <div class="column column-1-4">
                        <h6 class="box-header">ABOUT US</h6>
                        <ul class="list simple margin-top-20">
                            <li>1324 Sofia, Bulgaria:</li>
                            <li>256 Tsar Simeon St</li>
                            <li><span>Mobile:</span>(+359) 888 667788</li>
                            <li><span>Assistance:</span>(+359) 888 667799</li>
                            <li><span>E-mail:</span><a href="mailto:carservice@mail.com">ikaragyozov19@abv.bg</a></li>
                        </ul>
                        <ul class="social-icons gray margin-top-26">
                            <li>
                                <a target="_blank" href="https://facebook.com/QuanticaLabs" class="social-facebook"
                                   title="facebook"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter"
                                   title="twitter"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://1.envato.market/quanticalabs-portfolio"
                                   class="social-linkedin"
                                   title="linkedin"></a>
                            </li>
                            <li>
                                <a href="https://pinterest.com/quanticalabs/" class="social-pinterest"
                                   title="pinterest"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="column column-1-4">
                        <h6 class="box-header">OUR SERVICES</h6>
                        <ul class="list margin-top-20">
                            <li class="template-bullet">Engine Diagnostics</li>
                            <li class="template-bullet">Lube, Oil and Filters</li>
                            <li class="template-bullet">Belts and Hoses</li>
                            <li class="template-bullet">Air Conditioning</li>
                            <li class="template-bullet">Brake Repair</li>
                            <li class="template-bullet">Tire and Wheel Services</li>
                            <li class="template-bullet">Other Car Services</li>
                        </ul>
                    </div>

                    <div class="column column-1-4">
                        <h6 class="box-header">HOURS</h6>
                        <ul class="list simple margin-top-20">
                            <li><span>Monday:</span>7:30 - 18:30</li>
                            <li><span>Tuesday:</span>7:30 - 18:30</li>
                            <li><span>Wednesday:</span>7:30 - 18:30</li>
                            <li><span>Thursday:</span>7:30 - 18:30</li>
                            <li><span>Friday:</span>7:30 - 18:30</li>
                            <li><span>Saturday:</span>7:30 - 18:30</li>
                            <li><span>Sunday:</span>Closed</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row align-center padding-top-bottom-30">
        <span class="copyright">© Copyright 2021 <a
                href="https://1.envato.market/car-service-mechanic-auto-shop-template" title="Carservice Template"
                target="_blank">Carservice Template</a> by <a href="https://quanticalabs.com" title="QuanticaLabs"
                                                              target="_blank">QuanticaLabs</a></span>
            </div>
        </div>
    </div>
</div>
    <a href="#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>
    <div class="background-overlay"></div>
    <!--js-->
    <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    <!--slider revolution-->
    <script type="text/javascript" src="../static/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript"
            src="../static/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.ba-bbq.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-ui-1.12.1.custom.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easing.1.4.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript" src="../static/js/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.transit.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.hint.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.costCalculator.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="../static/js/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.blockUI.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.imagesloaded-packed.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script type="text/javascript" src="../static/js/odometer.min.js"></script>
</body>
</html>