<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{FragmentForm.html :: head}"></form>
<body>
<div class="site-container">
    <form th:replace="~{FragmentForm.html :: header-icons-info}"></form>
    <form th:replace="~{FragmentForm.html :: header-container}"></form>
    <div class="theme-page padding-bottom-70">
        <div class="row gray full-width page-header vertical-align-table">
            <div class="row full-width padding-top-bottom-50 vertical-align-cell">
                <div class="row">
                    <div class="page-header-left">
                        <h1>ADMIN PANEL</h1>
                    </div>
                    <div class="page-header-right">
                        <div class="bread-crumb-container">
                            <label>YOU ARE HERE:</label>
                            <ul class="bread-crumb">
                                <li>
                                    <a title="Home" th:href="@{/ti}" href="index.html">
                                        HOME
                                    </a>
                                </li>
                                <li class="separator">
                                    &#47;
                                </li>
                                <li>
                                    ADMIN PANEL
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="row">
                <ul class="services-list clearfix padding-top-70">
                    <li>
                        <a href="service_engine_diagnostics.html" th:href="@{/ti/users}" title="All Users">
                            <img src="../static/images/samples/390x260/image_01.jpg"
                                 th:src="@{/images/samples/390x260/resized_personas.jpg}" alt="">
                        </a>
                        <h4 class="box-header"><a th:href="@{/ti/users}" title="Engine Diagnostics">ALL
                            USERS<span class="template-arrow-menu"></span></a></h4>
                    </li>
                    <li>
                        <a href="service_lube_oil_filters.html" th:href="@{/ti/client-cars}" title="Client Cars">
                            <img src="../static/images/samples/390x260/image_02.jpg"
                                 th:src="@{/images/samples/390x260/resized_client_cars.jpg}" alt="">
                        </a>
                        <h4 class="box-header"><a th:href="@{/ti/client-cars}" title="Lube, Oil and Filters">CLIENT
                            CARS<span class="template-arrow-menu"></span></a></h4>
                    </li>
                    <li>
                        <a href="service_belts_hoses.html" th:href="@{/ti/orders}" title="Orders">
                            <img src="../static/images/samples/390x260/image_03.jpg"
                                 th:src="@{/images/samples/390x260/resized_orders.jpg}" alt="">
                        </a>
                        <h4 class="box-header"><a th:href="@{ti/orders}" title="Belts and Hoses">ORDERS<span
                                class="template-arrow-menu"></span></a></h4>
                    </li>
                    <li>
                        <a th:href="@{/ti/users/employee}" title="Create Employee">
                            <img src="../static/images/samples/390x260/team_02.png"
                                 th:src="@{/images/samples/390x260/team_02.png}" alt="">
                        </a>
                        <h4 class="box-header">
                            <a th:href="@{/ti/users/employee}" title="Create Employee">CREATE EMPLOYEE<span
                                    class="template-arrow-menu"></span></a>
                        </h4>
                    </li>
                    <li>
                        <a th:href="@{/ti/users/mechanic}" title="Create Mechanic">
                            <img src="../static/images/samples/390x260/image_09.jpg"
                                 th:src="@{/images/samples/390x260/image_09.jpg}" alt="">
                        </a>
                        <h4 class="box-header">
                            <a th:href="@{/ti/users/mechanic}" title="Create Mechanic">CREATE MECHANIC<span
                                    class="template-arrow-menu"></span></a>
                        </h4>
                    </li>
                    <li>
                        <a th:href="@{/ti/users/customer}" title="Create Customer">
                            <img src="../static/images/samples/390x260/image_11.jpg"
                                 th:src="@{/images/samples/390x260/image_11.jpg}" alt="">
                        </a>
                        <h4 class="box-header">
                            <a th:href="@{/ti/users/customer}" title="Create Customer">CREATE CUSTOMER<span
                                    class="template-arrow-menu"></span></a>
                        </h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <form th:replace="~{FragmentForm.html :: footer-and-copyright}"></form>
</div>
<a href="#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>
<div class="background-overlay"></div>
<!--js-->
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<!--slider revolution-->
<script type="text/javascript" th:src="@{/plugins/rs-plugin/js/jquery.themepunch.tools.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ba-bbq.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui-1.12.1.custom.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ui.touch-punch.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.isotope.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.easing.1.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.carouFredSel-6.2.1-packed.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.touchSwipe.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.transit.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.hint.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.costCalculator.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.prettyPhoto.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.qtip.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.blockUI.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.imagesloaded-packed.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/odometer.min.js}"></script>
</body>
</html>