<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="FragmentForm.html :: head"></form>
<body>
<div class="site-container">
    <form th:replace="FragmentForm.html :: header-icons-info"></form>
    <form th:replace="FragmentForm.html :: header-container"></form>
    <div class="theme-page padding-bottom-66">
        <div class="clearfix">
            <div class="row page-margin-top">
                <div class="column column-1-1">
                    <h2 class="box-header" style="margin-bottom: 25px;">USERS</h2>

                    <!-- Стилове за placeholder и текст -->
                    <style>
                        .filter-input::placeholder,
                        .filter-select option[value=""][disabled] {
                            color: gray; /* Цвят на placeholder-а */
                        }
                        .filter-select {
                            color: #6c757d; /* Сив цвят за текста */
                        }
                    </style>

                    <!-- Форма за филтриране и сортиране -->
                    <form method="get" action="#" class="filter-form">
                        <div class="filter-container">
                            <!-- Полета за филтриране -->
                            <input type="text" name="username" placeholder="Filter by Username" th:value="${username}" class="filter-input">
                            <input type="text" name="email" placeholder="Filter by Email" th:value="${email}" class="filter-input">
                            <input type="text" name="phoneNumber" placeholder="Filter by Phone Number" th:value="${phoneNumber}" class="filter-input">
                            <select name="vehicleBrand" class="filter-input filter-select" style="width: 177px; height: 38px; margin-top: 13px; margin-bottom: 13px;">
                                <option value="" disabled selected>Filter by Car Brand</option>
                                <option th:each="brand : ${allVehicleBrands}" th:value="${brand.id}" th:text="${brand.name}"></option>
                            </select>

                            <!-- Полета за филтриране по дати с placeholder -->
                            <input type="date" id="visitDateFrom" onfocus="(this.type='date')"
                                   onblur="(this.type='text')" name="visitDateFrom" placeholder="Visit Date From" th:value="${visitDateFrom}" class="filter-input">
                            <input type="date" id="visitDateTo" onfocus="(this.type='date')"
                                   onblur="(this.type='text')" name="visitDateTo" placeholder="Visit Date To" th:value="${visitDateTo}" class="filter-input">

                            <!-- Полета за сортиране -->
                            <select name="sortBy" class="filter-select" style="width: 177px; height: 38px; margin-top: 13px; margin-bottom: 13px;">
                                <option value="" disabled selected>Sort By</option>
                                <option value="username" th:selected="${sortBy == 'username'}">Username</option>
                                <option value="email" th:selected="${sortBy == 'email'}">Email</option>
                                <option value="phoneNumber" th:selected="${sortBy == 'phoneNumber'}">Phone Number</option>
                                <option value="vehicleBrand" th:selected="${sortBy == 'vehicleBrand'}">Vehicle Brand</option>
                            </select>
                            <select name="sortDirection" class="filter-select" style="width: 179px; height: 38px; margin-top: 13px; margin-bottom: 13px;">
                                <option value="asc" th:selected="${sortDirection == 'asc'}">Ascending</option>
                                <option value="desc" th:selected="${sortDirection == 'desc'}">Descending</option>
                            </select>

                            <!-- Стилизиране на бутоните -->
                            <button type="submit" class="modern-button" style="height: 38px; width: 38px; margin-top: 13px; margin-bottom: 13px;">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>

                    <div class="user-list">
                        <!-- Заглавие за колоните -->
                        <div class="row vehicle-item gray">
                            <div class="column column-1-6" style="font-weight: bold; font-size: 18px; text-align: center;">Username</div>
                            <div class="column column-1-6" style="font-weight: bold; font-size: 18px; text-align: center;">Email</div>
                            <div class="column column-1-6" style="font-weight: bold; font-size: 18px; text-align: center;">Phone Number</div>
                            <div class="column column-1-6" style="font-weight: bold; font-size: 18px; text-align: center;">Car Brand</div>
                            <div class="column column-1-6" style="font-weight: bold; font-size: 18px; text-align: center;">Service Dates</div>
                        </div>
                        <div class="user-list" style="text-align: center">
                            <!-- Извеждане на информация за всеки потребител -->
                            <div th:each="user, iterStat : ${users}"
                                 th:class="${iterStat.index % 2 == 0} ? 'vehicle-item white' : 'vehicle-item gray'">
                                <div class="column column-1-6" style="text-align: center" th:text="${user.username}">Username</div>
                                <div class="column column-1-6" th:text="${user.email}">Email</div>
                                <div class="column column-1-6" style="text-align: center" th:text="${user.phoneNumber}">Phone Number</div>

                                <!-- Марка на колата, която потребителят притежава -->
                                <div class="column column-1-6" style="text-align: center">
                                    <ul>
                                        <li th:each="car : ${user.clientCars}" th:text="${car.vehicle.brand.name}">Car Brand</li>
                                    </ul>
                                </div>

                                <!-- Дати за посещения в сервиз -->
                                <div class="column column-1-6" style="text-align: center">
                                    <ul>
                                        <li th:each="car : ${user.clientCars}">
                                            <ul>
                                                <li th:each="service : ${car.carServices}" th:text="${service.serviceDate}">Service Date</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                        <ul>
                            <li th:if="${currentPage > 0}">
                                <a th:href="@{/ti/users(page=${currentPage - 1}, size=${size}, username=${username}, email=${email}, phoneNumber=${phoneNumber}, vehicleBrand=${vehicleBrand}, visitDateFrom=${visitDateFrom}, visitDateTo=${visitDateTo}, sortBy=${sortBy}, sortDirection=${sortDirection})}">Previous</a>
                            </li>

                            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                                <a th:href="@{/ti/users(page=${i}, size=${size}, username=${username}, email=${email}, phoneNumber=${phoneNumber}, vehicleBrand=${vehicleBrand}, visitDateFrom=${visitDateFrom}, visitDateTo=${visitDateTo}, sortBy=${sortBy}, sortDirection=${sortDirection})}"
                                   th:text="${i + 1}" th:classappend="${i == currentPage} ? 'active' : ''"></a>
                            </li>

                            <li th:if="${currentPage < totalPages - 1}">
                                <a th:href="@{/ti/users(page=${currentPage + 1}, size=${size}, username=${username}, email=${email}, phoneNumber=${phoneNumber}, vehicleBrand=${vehicleBrand}, visitDateFrom=${visitDateFrom}, visitDateTo=${visitDateTo}, sortBy=${sortBy}, sortDirection=${sortDirection})}">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <form th:replace="FragmentForm.html :: footer-and-copyright"></form>
</div>
<a href="#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>
<div class="background-overlay"></div>
<!-- JavaScript и библиотеки -->
<script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../static/plugins/rs-plugin/js/jquery.themepunch.tools.min.js" th:src="@{/plugins/rs-plugin/js/jquery.themepunch.tools.min.js}"></script>
<script type="text/javascript" src="../static/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js" th:src="@{/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.ba-bbq.min.js" th:src="@{/js/jquery.ba-bbq.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery-ui-1.12.1.custom.min.js" th:src="@{/js/jquery-ui-1.12.1.custom.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.ui.touch-punch.min.js" th:src="@{/js/jquery.ui.touch-punch.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.isotope.min.js" th:src="@{/js/jquery.isotope.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.easing.1.4.1.min.js" th:src="@{/js/jquery.easing.1.4.1.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.carouFredSel-6.2.1-packed.js" th:src="@{/js/jquery.carouFredSel-6.2.1-packed.js}"></script>
<script type="text/javascript" src="../static/js/jquery.touchSwipe.min.js" th:src="@{/js/jquery.touchSwipe.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.transit.min.js" th:src="@{/js/jquery.transit.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.hint.min.js" th:src="@{/js/jquery.hint.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.costCalculator.min.js" th:src="@{/js/jquery.costCalculator.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.prettyPhoto.js" th:src="@{/js/jquery.prettyPhoto.js}"></script>
<script type="text/javascript" src="../static/js/jquery.qtip.min.js" th:src="@{/js/jquery.qtip.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.blockUI.min.js" th:src="@{/js/jquery.blockUI.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.imagesloaded-packed.js" th:src="@{/js/jquery.imagesloaded-packed.js}"></script>
<script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<script type="text/javascript" src="../static/js/odometer.min.js" th:src="@{/js/odometer.min.js}"></script>
</body>
</html>
