<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{FragmentForm.html :: head}"></form>
<body>
<div class="site-container">
    <form th:replace="~{FragmentForm.html :: header-icons-info}"></form>
    <form th:replace="~{FragmentForm.html :: header-container}"></form>
    <div class="theme-page padding-bottom-70">
        <div class="row gray full-width page-header vertical-align-table">
            <div class="row full-width padding-top-bottom-50 vertical-align-cell">
                <div class="row">
                    <div class="page-header-left">
                        <h1>CLIENT CARS</h1>
                    </div>
                    <div class="page-header-right">
                        <div class="bread-crumb-container">
                            <label>YOU ARE HERE:</label>
                            <ul class="bread-crumb">
                                <li>
                                    <a title="Home" href="home.html" th:href="@{/ti}">
                                        HOME
                                    </a>
                                </li>
                                <li class="separator">
                                    &#47;
                                </li>
                                <li>
                                    CLIENT CARS
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-form-container margin-top-70" style="margin-top: 35px !important;">
            <div class="custom-form-header">
                <h2 style="text-align: center; margin-bottom: 35px; font-weight: bold;">YOU WANT TO ADD CLIENT CAR? DO
                    IT!</h2>
            </div>
            <form class="client-car-form">
                <div class="input-container"> <!-- Нов контейнер за полетата и dropdown менюто -->
                    <div class="custom-form-row">
                        <label for="vin">VIN</label>
                        <input id="vin" type="text" placeholder="Put the VIN here...">
                    </div>
                    <div class="custom-form-row">
                        <label for="license-plate">LICENSE PLATE</label>
                        <input id="license-plate" type="text" placeholder="Put the license plate here...">
                    </div>
                    <div class="custom-form-row">
                        <label for="owner">OWNER</label>
                        <input id="owner" type="text" placeholder="Owner...">
                    </div>
                    <div class="custom-form-row" style="width: 5%;">
                        <label for="brand">BRAND</label>
                        <select id="brand">
                            <option value="" th:selected="${vehicleBrand == null}">All Brands</option>
                            <option th:each="brand : ${allVehicleBrands}"
                                    th:value="${brand.name}"
                                    th:text="${brand.name}"
                                    th:selected="${vehicleBrand == brand.name}">
                            </option>
                        </select>
                    </div>
                    <div class="custom-form-row">
                        <label for="make">MAKE</label>
                        <input id="make" type="text" placeholder="Put the make here...">
                    </div>
                    <div class="custom-form-row" style="width: 5%;">
                        <label for="engine-type" style="font-weight: bold;">ENGINE TYPE</label>
                        <input id="engine-type" type="text" placeholder="Put the engine here..." style="width: 100%;">
                    </div>
                    <div class="custom-form-row" style="width: 5%;">
                        <label for="year-of-creation" style="font-weight: bold;">YEAR OF CREATION</label>
                        <input id="year-of-creation" type="text" placeholder="Put the year here..."
                               style="width: 100%;">
                    </div>
                </div>
                <div class="button-container">
                    <div class="custom-form-row">
                        <button type="submit">ADD CLIENT CAR</button>
                    </div>
                </div>
            </form>

            <form class="client-car-form-search" action="#" method="get">
                <div class="input-container-search">
                    <div class="custom-form-row-inline">
                        <label style="font-weight: bold; margin-top: 20px; margin-bottom: 4px;" for="search">SEARCH</label>
                        <input id="search" name="searchTerm" type="text" placeholder="Search..." th:value="${searchTerm}"
                        style="margin-top: 5px; margin-bottom: 10px; height: 15px; width: 228px; border-radius: 4px">
                    </div>

                    <div class="custom-form-row-inline">
                        <label style="font-weight: bold; margin-top: 20px; margin-bottom: 4px;" for="sort-by">SORT BY</label>
                        <select id="sort-by" name="sortBy"
                                th:value="${sortBy}"
                                style="margin-top: 5px; margin-bottom: 10px; height: 40px; width: 258px; border-radius: 4px">
                            <option value="" th:selected="${sortBy == null}">Sort By</option>
                            <option value="owner.firstName" th:selected="${sortBy == 'owner.firstName'}">Owner First Name</option>
                            <option value="owner.username" th:selected="${sortBy == 'owner.username'}">Owner Username</option>
                        </select>
                    </div>

                    <div class="custom-form-row-inline">
                        <label style="font-weight: bold; margin-top: 20px; margin-bottom: 4px;" for="order">ORDER</label>
                        <select id="order" name="order" th:value="${order}"
                        style="margin-top: 5px; margin-bottom: 10px; height: 40px; width: 205px; border-radius: 4px">
                        <option value="asc" th:selected="${order == 'asc'}">ASCENDING</option>
                        <option value="desc" th:selected="${order == 'desc'}">DESCENDING</option>
                        </select>
                    </div>
                </div>

                <!-- Бутон за изпращане на формата -->
                <div class="custom-form-row-inline">
                    <button type="submit" class="modern-button"
                            style="height: 38px; width: 38px; margin-top: 45px; margin-bottom: 13px;">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
            <div class="custom-car-list-container">
                <div class="custom-car-list-header" style="height: 55px; text-align: center;">
                    <div class="custom-car-list-column">VIN</div>
                    <div class="custom-car-list-column">License Plate</div>
                    <div class="custom-car-list-column">Owner</div>
                    <div class="custom-car-list-column">Brand</div>
                    <div class="custom-car-list-column">Make</div>
                    <div class="custom-car-list-column">Engine Type</div>
                    <div class="custom-car-list-column">Year of Creation</div>
                    <div class="custom-car-list-column">Actions</div>
                </div>
                <div class="custom-car-list-items">
                    <div th:each="clientCar, iterStat : ${clientCars}"
                         th:class="${iterStat.index % 2 == 0} ? 'vehicle-item white custom-car-list-row' : 'vehicle-item gray custom-car-list-row'">
                        <div class="custom-car-list-column" th:text="${clientCar.getVin()}">VIN</div>
                        <div class="custom-car-list-column" th:text="${clientCar.getLicensePlate()}">License Plate</div>
                        <div class="custom-car-list-column" th:text="${clientCar.getOwner().username}">Owner Username</div>
                        <div class="custom-car-list-column" th:text="${clientCar.getVehicle().brand.name}">Brand</div>
                        <div class="custom-car-list-column" th:text="${clientCar.getVehicle().model.name}">Make</div>
                        <div class="custom-car-list-column" th:text="${clientCar.getVehicle().engineType.name}">Engine Type</div>
                        <div class="custom-car-list-column" th:text="${clientCar.getVehicle().year.year}">Year of Creation</div>
                        <div class="custom-car-list-column">
                            <button>Edit</button>
                            <button>Delete</button>
                            <button>Add Services</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pagination" th:if="${totalPages > 1}">
                <ul>
                    <li th:if="${currentPage > 0}">
                        <a th:href="@{/ti/client-cars(page=${currentPage - 1}, searchTerm=${searchTerm}, sortBy=${sortBy}, order=${order})}">
                            Previous
                        </a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                        <a th:href="@{/ti/client-cars(page=${i}, searchTerm=${searchTerm}, sortBy=${sortBy}, order=${order})}"
                           th:text="${i + 1}" th:class="${i == currentPage} ? 'active' : ''">
                        </a>
                    </li>
                    <li th:if="${currentPage < totalPages - 1}">
                        <a th:href="@{/ti/client-cars(page=${currentPage + 1}, searchTerm=${searchTerm}, sortBy=${sortBy}, order=${order})}">
                            Next
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <form th:replace="~{FragmentForm.html :: footer-and-copyright}"></form>
</div>
<a href="#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>
<div class="background-overlay"></div>
<!--js-->
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<!--slider revolution-->
<script type="text/javascript" th:src="@{/plugins/rs-plugin/js/jquery.themepunch.tools.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ba-bbq.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui-1.12.1.custom.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ui.touch-punch.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.isotope.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.easing.1.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.carouFredSel-6.2.1-packed.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.touchSwipe.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.transit.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.hint.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.costCalculator.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.prettyPhoto.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.qtip.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.blockUI.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.imagesloaded-packed.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/odometer.min.js}"></script>
</body>
</html>