<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{FragmentForm.html::head}"></head>
<body>
<div class="site-container">
  <header th:replace="~{FragmentForm.html::header-icons-info}"></header>
  <header th:replace="~{FragmentForm.html::header-container}"></header>
  <div class="theme-page padding-bottom-70">
    <div class="row login-register-container padding-top-70 padding-bottom-70">
      <div class="column column-1-3"></div>
      <div class="column column-1-3">
        <div class="login-register-box">
          <!-- Forgot Password Form -->
          <div id="forgot-password-form" class="form-content">
            <form th:action="@{/ti/users/forgot-password}" th:object="${forgottenPasswordDto}" method="post" class="contact-form">
              <div class="form-group">
                <input type="email" id="email" name="email" th:field="*{email}" class="text-input" placeholder="Enter your email" required>
              </div>
              <button type="submit" class="more">Send New Password</button>
            </form>
          </div>
        </div>
      </div>
      <div class="column column-1-3"></div>
    </div>
  </div>
  <footer th:replace="~{FragmentForm.html::footer-and-copyright}"></footer>
</div>
</body>
</html>
