<head th:fragment="head">
    <title>Smart Garage TI - Mechanic Auto Shop</title>
    <!--meta-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.2" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="Mechanic, Car, Auto" />
    <meta name="description" content="Responsive Mechanic Auto Shop Template" />
    <!--slider revolution-->
    <link rel="stylesheet" type="text/css" href="../static/plugins/rs-plugin/css/settings.css" media="screen" />
    <!--style-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/superfish.css" th:href="@{/css/superfish.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/prettyPhoto.css" th:href="@{/css/prettyPhoto.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.qtip.css" th:href="@{/css/jquery.qtip.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/animations.css" th:href="@{/css/animations.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css" th:href="@{/css/responsive.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/odometer-theme-default.css" th:href="@{/css/odometer-theme-default.css}">
    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/streamline-small/style.css" th:href="@{/fonts/streamline-small/style.css}">
    <link rel="stylesheet" type="text/css" href="../static/fonts/template/styles.css" th:href="@{/template/styles.css}">
    <link rel="stylesheet" type="text/css" href="../static/fonts/social/styles.css" th:href="@{/fonts/social/styles.css}">
    <link rel="shortcut icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">
</head>