<!DOCTYPE html>
<html>
	<head>
		<title>CarService - Mechanic Auto Shop Template</title>
		<!--meta-->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.2" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="keywords" content="Mechanic, Car, Auto" />
		<meta name="description" content="Responsive Mechanic Auto Shop Template" />
		<!--slider revolution-->
		<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
		<!--style-->
		<link href='//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="style/reset.css">
		<link rel="stylesheet" type="text/css" href="style/superfish.css">
		<link rel="stylesheet" type="text/css" href="style/prettyPhoto.css">
		<link rel="stylesheet" type="text/css" href="style/jquery.qtip.css">
		<link rel="stylesheet" type="text/css" href="style/style.css">
		<link rel="stylesheet" type="text/css" href="style/animations.css">
		<link rel="stylesheet" type="text/css" href="style/responsive.css">
		<link rel="stylesheet" type="text/css" href="style/odometer-theme-default.css">
		<!--fonts-->
		<link rel="stylesheet" type="text/css" href="fonts/streamline-small/style.css">
		<link rel="stylesheet" type="text/css" href="fonts/template/styles.css">
		<link rel="stylesheet" type="text/css" href="fonts/social/styles.css">
		<link rel="shortcut icon" href="images/favicon.ico">
	</head>
	<body>
		<div class="site-container">
			<div class="header-top-bar-container clearfix">
				<div class="header-top-bar">
					<ul class="contact-details clearfix">
						<li class="template-phone">
							(520) 577 2710
						</li>
						<li class="template-mail">
							<a href="mailto:carservice@mail.com">carservice@mail.com</a>
						</li>
						<li class="template-clock">
							Mon - Fri: 7:30am - 5:30pm
						</li>
					</ul>
					<div class="search-container">
						<a class="template-search" href="#" title="Search"></a>
						<form class="search" action="search.html">
							<input type="text" name="s" placeholder="Search..." value="Search..." class="search-input hint">
							<fieldset class="search-submit-container">
								<span class="template-search"></span>
								<input type="submit" class="search-submit" value="">
							</fieldset>
						</form>
					</div>
					<ul class="social-icons">
						<li>
							<a target="_blank" href="https://facebook.com/QuanticaLabs" class="social-facebook" title="facebook"></a>
						</li>
						<li>
							<a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
						</li>
						<li>
							<a href="https://pinterest.com/quanticalabs/" class="social-pinterest" title="pinterest"></a>
						</li>
						<!--<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-google-plus"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-youtube"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-linkedin"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-pinterest"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-dribble"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-skype"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-tumblr"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-instagram"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-xing"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-foursquare"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-rss"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-behance"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-picasa"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-stumbleupon"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-vimeo"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-houzz"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-yelp"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-github"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-reddit"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-soundcloud"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-vk"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-vine"></a>
						</li>
						-->
					</ul>
				</div>
				<a href="#" class="header-toggle template-arrow-up"></a>
			</div>
			<div class="header-container">
			<!--<div class="header-container sticky">-->
				<div class="vertical-align-table column-1-1">
					<div class="header clearfix">
						<div class="logo vertical-align-cell">
							<h1><a href="home" title="CarService">CARSERVICE</a></h1>
						</div>
						<a href="#" class="mobile-menu-switch vertical-align-cell">
							<span class="line"></span>
							<span class="line"></span>
							<span class="line"></span>
						</a>
						<div class="menu-container clearfix vertical-align-cell">
							<nav>
								<ul class="sf-menu">
									<li>
										<a href="index.html" title="Home">
											Home
										</a>
										<ul>
											<li>
												<a href="index.html" title="Home Style 1">
													Home Style 1
												</a>
											</li>
											<li>
												<a href="home2.html" title="Home Style 2">
													Home Style 2
												</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="services.html" title="Services">
											Services
										</a>
										<ul>
											<li>
												<a href="service_engine_diagnostics.html" title="Engine Diagnostics">
													Engine Diagnostics
												</a>
											</li>
											<li>
												<a href="service_lube_oil_filters.html" title="Lube, Oil and Filters">
													Lube, Oil and Filters
												</a>
											</li>
											<li>
												<a href="service_belts_hoses.html" title="Belts and Hoses">
													Belts and Hoses
												</a>
											</li>
											<li>
												<a href="service_air_conditioning.html" title="Air Conditioning">
													Air Conditioning
												</a>
											</li>
											<li>
												<a href="service_brake_repair.html" title="Brake Repair">
													Brake Repair
												</a>
											</li>
											<li>
												<a href="service_tire_wheel.html" title="Tire and Wheel Services">
													Tire and Wheel Services
												</a>
											</li>
										</ul>
									</li>
									<li class="selected">
										<a href="galleries.html" title="Gallery">
											Gallery
										</a>
										<ul>
											<li>
												<a href="gallery_engine_diagnostics.html" title="Engine Diagnostics">
													Engine Diagnostics
												</a>
											</li>
											<li class="selected">
												<a href="gallery_oil_change.html" title="Oil Change">
													Oil Change
												</a>
											</li>
											<li>
												<a href="gallery_belts_hoses.html" title="Belts and Hoses">
													Belts and Hoses
												</a>
											</li>
											<li>
												<a href="gallery_tire_change.html" title="Tire Change">
													Tire Change
												</a>
											</li>
											<li>
												<a href="gallery_wheel_services.html" title="Wheel Services">
													Wheel Services
												</a>
											</li>
											<li>
												<a href="gallery_lube_services.html" title="Lube Services">
													Lube Services
												</a>
											</li>
											<li>
												<a href="gallery_brake_repair.html" title="Brake Repair">
													Brake Repair
												</a>
											</li>
											<li>
												<a href="gallery_other_car_services.html" title="Other Car Services">
													Other Car Services
												</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="team.html" title="Our Team">
											Our Team
										</a>
									</li>
									<li>
										<a href="about.html" title="Pages">
											Pages
										</a>
										<ul>
											<li>
												<a href="about.html" title="About">
													About
												</a>
											</li>
											<li>
												<a href="404.html" title="404 Not Found">
													404 Not Found
												</a>
											</li>
											<li>
												<a href="services.html" title="Services Style 1">
													Services Style 1
												</a>
											</li>
											<li>
												<a href="services2.html" title="Services Style 2">
													Services Style 2
												</a>
											</li>
											<li>
												<a href="service_engine_diagnostics.html" title="Single Service">
													Single Service
												</a>
											</li>
											<li>
												<a href="galleries.html" title="Galleries">
													Galleries
												</a>
											</li>
											<li>
												<a href="gallery_engine_diagnostics.html" title="Single Project">
													Single Gallery
												</a>
											</li>
											<li>
												<a href="team.html" title="Team">
													Team
												</a>
											</li>
											<li>
												<a href="team_mark_whilberg.html" title="Single Team">
													Single Team
												</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="blog.html" title="Blog">
											Blog
										</a>
										<ul>
											<li>
												<a href="blog.html" title="Blog">
													Blog
												</a>
											</li>
											<li>
												<a href="blog_left_sidebar.html" title="Blog">
													Blog Left Sidebar
												</a>
											</li>
											<li>
												<a href="blog_2_columns.html" title="Blog 2 Columns">
													Blog 2 Columns
												</a>
											</li>
											<li>
												<a href="blog_3_columns.html" title="Blog 3 Columns">
													Blog 3 Columns
												</a>
											</li>
											<li>
												<a href="post.html" title="Single Post">
													Single Post
												</a>
											</li>
											<li>
												<a href="search.html?s=ipsum" title="Search Template">
													Search Template
												</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="appointment.html" title="Appointment">
											Appointment
										</a>
									</li>
									<li class="left-flyout">
										<a href="contact.html" title="Contact">
											Contact
										</a>
										<ul>
											<li>
												<a href="contact.html" title="Contact Style 1">
													Contact Style 1
												</a>
											</li>
											<li>
												<a href="contact_2.html" title="Contact Style 2">
													Contact Style 2
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
							<div class="mobile-menu-container">
								<div class="mobile-menu-divider"></div>
								<nav>
									<ul class="mobile-menu collapsible-mobile-submenus">
										<li>
											<a href="index.html" title="Home">
												Home
											</a>
											<a href="#" class="template-arrow-menu"></a>
											<ul>
												<li>
													<a href="index.html" title="Home Style 1">
														Home Style 1
													</a>
												</li>
												<li>
													<a href="home2.html" title="Home Style 2">
														Home Style 2
													</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="services.html" title="Services">
												Services
											</a>
											<a href="#" class="template-arrow-menu"></a>
											<ul>
												<li>
													<a href="service_engine_diagnostics.html" title="Engine Diagnostics">
														Engine Diagnostics
													</a>
												</li>
												<li>
													<a href="service_lube_oil_filters.html" title="Lube, Oil and Filters">
														Lube, Oil and Filters
													</a>
												</li>
												<li>
													<a href="service_belts_hoses.html" title="Belts and Hoses">
														Belts and Hoses
													</a>
												</li>
												<li>
													<a href="service_air_conditioning.html" title="Air Conditioning">
														Air Conditioning
													</a>
												</li>
												<li>
													<a href="service_brake_repair.html" title="Brake Repair">
														Brake Repair
													</a>
												</li>
												<li>
													<a href="service_tire_wheel.html" title="Tire and Wheel Services">
														Tire and Wheel Services
													</a>
												</li>
											</ul>
										</li>
										<li class="selected">
											<a href="galleries.html" title="Gallery">
												Gallery
											</a>
											<a href="#" class="template-arrow-menu"></a>
											<ul>
												<li>
													<a href="gallery_engine_diagnostics.html" title="Engine Diagnostics">
														Engine Diagnostics
													</a>
												</li>
												<li class="selected">
													<a href="gallery_oil_change.html" title="Oil Change">
														Oil Change
													</a>
												</li>
												<li>
													<a href="gallery_belts_hoses.html" title="Belts and Hoses">
														Belts and Hoses
													</a>
												</li>
												<li>
													<a href="gallery_tire_change.html" title="Tire Change">
														Tire Change
													</a>
												</li>
												<li>
													<a href="gallery_wheel_services.html" title="Wheel Services">
														Wheel Services
													</a>
												</li>
												<li>
													<a href="gallery_lube_services.html" title="Lube Services">
														Lube Services
													</a>
												</li>
												<li>
													<a href="gallery_brake_repair.html" title="Brake Repair">
														Brake Repair
													</a>
												</li>
												<li>
													<a href="gallery_other_car_services.html" title="Other Car Services">
														Other Car Services
													</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="team.html" title="Our Team">
												Our Team
											</a>
										</li>
										<li>
											<a href="about.html" title="Pages">
												Pages
											</a>
											<a href="#" class="template-arrow-menu"></a>
											<ul>
												<li>
													<a href="about.html" title="About">
														About
													</a>
												</li>
												<li>
													<a href="404.html" title="404 Not Found">
														404 Not Found
													</a>
												</li>
												<li>
													<a href="services.html" title="Services Style 1">
														Services Style 1
													</a>
												</li>
												<li>
													<a href="services2.html" title="Services Style 2">
														Services Style 2
													</a>
												</li>
												<li>
													<a href="service_engine_diagnostics.html" title="Single Service">
														Single Service
													</a>
												</li>
												<li>
													<a href="galleries.html" title="Galleries">
														Galleries
													</a>
												</li>
												<li>
													<a href="gallery_engine_diagnostics.html" title="Single Project">
														Single Gallery
													</a>
												</li>
												<li>
													<a href="team.html" title="Team">
														Team
													</a>
												</li>
												<li>
													<a href="team_mark_whilberg.html" title="Single Team">
														Single Team
													</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="blog.html" title="Blog">
												Blog
											</a>
											<a href="#" class="template-arrow-menu"></a>
											<ul>
												<li>
													<a href="blog.html" title="Blog">
														Blog
													</a>
												</li>
												<li>
													<a href="blog_left_sidebar.html" title="Blog">
														Blog Left Sidebar
													</a>
												</li>
												<li>
													<a href="blog_2_columns.html" title="Blog 2 Columns">
														Blog 2 Columns
													</a>
												</li>
												<li>
													<a href="blog_3_columns.html" title="Blog 3 Columns">
														Blog 3 Columns
													</a>
												</li>
												<li>
													<a href="post.html" title="Single Post">
														Single Post
													</a>
												</li>
												<li>
													<a href="search.html?s=ipsum" title="Search Template">
														Search Template
													</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="appointment.html" title="Appointment">
												Appointment
											</a>
										</li>
										<li class="left-flyout">
											<a href="contact.html" title="Contact">
												Contact
											</a>
											<a href="#" class="template-arrow-menu"></a>
											<ul>
												<li>
													<a href="contact.html" title="Contact Style 1">
														Contact Style 1
													</a>
												</li>
												<li>
													<a href="contact_2.html" title="Contact Style 2">
														Contact Style 2
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="theme-page padding-bottom-66">
				<div class="row gray full-width page-header vertical-align-table">
					<div class="row full-width padding-top-bottom-50 vertical-align-cell">
						<div class="row">
							<div class="page-header-left">
								<h1>OIL CHANGE</h1>
							</div>
							<div class="page-header-right">
								<div class="bread-crumb-container">
									<label>YOU ARE HERE:</label>
									<ul class="bread-crumb">
										<li>
											<a title="HOME" href="index.html">
												HOME
											</a>
										</li>
										<li class="separator">
											&#47;
										</li>
										<li>
											<a title="Recent Galleries" href="galleries.html">
												RECENT GALLERIES
											</a>
										</li>
										<li class="separator">
											&#47;
										</li>
										<li>
											OIL CHANGE
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix">
					<div class="row margin-top-70">
						<div class="column column-1-2">
							<a href="images/samples/870x580/image_02.jpg" class="prettyPhoto re-preload" title="Oil Change">
								<img src='images/samples/570x380/image_02.jpg' alt='img'>
							</a>
							<div class="row margin-top-30">
								<div class="column column-1-2">
									<a href="images/samples/870x580/image_10.jpg" class="prettyPhoto re-preload" title="Oil Change">
										<img src='images/samples/570x380/image_10.jpg' alt='img'>
									</a>
								</div>
								<div class="column column-1-2">
									<a href="images/samples/870x580/image_03.jpg" class="prettyPhoto re-preload" title="Oil Change">
										<img src='images/samples/570x380/image_03.jpg' alt='img'>
									</a>
								</div>
							</div>
							<div class="row margin-top-30">
								<a href="images/samples/870x580/image_08.jpg" class="prettyPhoto re-preload" title="Oil Change">
								<img src='images/samples/570x380/image_08.jpg' alt='img'>
							</a>
							</div>
						</div>
						<div class="column column-1-2">
							<h3 class="box-header">BRIEF DESCRIPTION</h3>
							<p class="margin-top-20">We offer a full range of garage services to vehicle owners in Tucson. We can help you with everything from an oil change to an engine change. Whether you drive a small car or medium sized truck or SUV, our mechanics strive to ensure that your vehicle will be performing at its best before leaving our car shop.</p>
							<h4 class="box-header page-margin-top">AT A GLANCE</h4>
							<table class="margin-top-40">
								<tbody>
									<tr>
										<td>Front Brakes Repair</td>
										<td>$49.95</td>
									</tr>
									<tr>
										<td>Rear Brakes Repair</td>
										<td>$59.95</td>
									</tr>
									<tr>
										<td>Rear Brake Shoes</td>
										<td>$65.25</td>
									</tr>
									<tr>
										<td>Axle</td>
										<td>$149.95 Each</td>
									</tr>
									<tr>
										<td>Starters / Alternators</td>
										<td>$225.95 Plus Parts</td>
									</tr>
								</tbody>
							</table>
							<h4 class="box-header page-margin-top">SCOPE OF WORK</h4>
							<div class="tabs small no-scroll align-left clearfix margin-top-40">
								<ul class="tabs-navigation small gray clearfix">
									<li>
										<a href="#client-info" title="Client Info">
											Client Info
										</a>
									</li>
									<li>
										<a href="#scope-of-work" title="Scope Of Work">
											Scope Of Work
										</a>
									</li>
								</ul>
								<div id="client-info">
									<p>We offer full range of garage services to vehicle owners in Tucson. Our professionals know how to handle a wide range of car services. We can handle any problem on both foreign and domestic vehicles.</p>
									<ul class="list margin-top-20">
										<li class="template-bullet">We make auto repair and maintenance more convenient for you</li>
										<li class="template-bullet">We are a friendly, helpful and professional <a href="#">group of people</a></li>
										<li class="template-bullet">Our professionals know how to handle a wide range of <a href="#">car services</a></li>
										<li class="template-bullet">We get the job done right — the first time</li>
										<li class="template-bullet">Same day service for most repairs and maintenance</li>
									</ul>
								</div>
								<div id="scope-of-work">
									<p>We offer full range of garage services to vehicle owners in Tucson. Our professionals know how to handle a wide range of car services. We can handle any problem on both foreign and domestic vehicles.</p>
									<ul class="list margin-top-20">
										<li class="template-bullet">We make auto repair and maintenance more convenient for you</li>
										<li class="template-bullet">We are a friendly, helpful and professional <a href="#">group of people</a></li>
										<li class="template-bullet">Our professionals know how to handle a wide range of <a href="#">car services</a></li>
										<li class="template-bullet">We get the job done right — the first time</li>
										<li class="template-bullet">Same day service for most repairs and maintenance</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row dark-gray footer-row full-width padding-top-30 padding-bottom-50">
				<div class="row padding-bottom-30">
					<div class="column column-1-3">
						<ul class="contact-details-list">
							<li class="sl-small-location-map">
								<p>Tucson, AZ 80210:<br>
								501 Archwood Lane</p>
							</li>
						</ul>
					</div>
					<div class="column column-1-3">
						<ul class="contact-details-list">
							<li class="sl-small-phone-circle">
								<p>Feel Free to Call Us Now<br>
								(520) 577 2710</p>
							</li>
						</ul>
					</div>
					<div class="column column-1-3">
						<ul class="contact-details-list">
							<li class="sl-small-truck-tow">
								<p>24/7 Roadside Assistance<br>
								(520) 577 2725</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="row row-4-4 top-border page-padding-top">
					<div class="column column-1-4">
						<h6 class="box-header">ABOUT US</h6>
						<ul class="list simple margin-top-20">
							<li>Tucson, Arizona 80210</li>
							<li>501 Archwood Lane</li>
							<li><span>Mobile:</span>(520) 577 2710</li>
							<li><span>Assistance:</span>(520) 577 2725</li>
							<li><span>E-mail:</span><a href="mailto:carservice@mail.com">carservice@mail.com</a></li>
						</ul>
						<ul class="social-icons gray margin-top-26">
							<li>
								<a target="_blank" href="https://facebook.com/QuanticaLabs" class="social-facebook" title="facebook"></a>
							</li>
							<li>
								<a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
							</li>
							<li>
								<a target="_blank" href="https://1.envato.market/quanticalabs-portfolio" class="social-linkedin" title="linkedin"></a>
							</li>
							<li>
								<a href="https://pinterest.com/quanticalabs/" class="social-pinterest" title="pinterest"></a>
							</li>
						</ul>
					</div>
					<div class="column column-1-4">
						<h6 class="box-header">OUR SERVICES</h6>
						<ul class="list margin-top-20">
							<li class="template-bullet">Engine Diagnostics</li>
							<li class="template-bullet">Lube, Oil and Filters</li>
							<li class="template-bullet">Belts and Hoses</li>
							<li class="template-bullet">Air Conditioning</li>
							<li class="template-bullet">Brake Repair</li>
							<li class="template-bullet">Tire and Wheel Services</li>
							<li class="template-bullet">Other Car Services</li>
						</ul>
					</div>
					<div class="column column-1-4">
						<h6 class="box-header">POPULAR TAGS</h6>
						<ul class="taxonomies margin-top-30">
							<li><a href="category.html" title="BELTS">BELTS</a></li>
							<li><a href="category.html" title="BRAKES">BRAKES</a></li>
							<li><a href="category.html" title="DIAGNOSTICS">DIAGNOSTICS</a></li>
							<li><a href="category.html" title="ENGINE">ENGINE</a></li>
							<li><a href="category.html" title="FILTERS">FILTERS</a></li>
							<li><a href="category.html" title="HEATING">HEATING</a></li>
							<li><a href="category.html" title="OILS">OILS</a></li>
							<li><a href="category.html" title="STEERING">STEERING</a></li>
							<li><a href="category.html" title="SUSPENSION">SUSPENSION</a></li>
							<li><a href="category.html" title="TIRES">TIRES</a></li>
							<li><a href="category.html" title="TRANSMISSION">TRANSMISSION</a></li>
						</ul>
					</div>
					<div class="column column-1-4">
						<h6 class="box-header">HOURS</h6>
						<ul class="list simple margin-top-20">
							<li><span>Monday:</span>7:30am - 5:30pm</li>
							<li><span>Tuesday:</span>7:30am - 5:30pm</li>
							<li><span>Wednesday:</span>7:30am - 5:30pm</li>
							<li><span>Thursday:</span>7:30am - 5:30pm</li>
							<li><span>Friday:</span>7:30am - 5:30pm</li>
							<li><span>Saturday:</span>7:30am - 3:00pm</li>
							<li><span>Sunday:</span>Closed</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row align-center padding-top-bottom-30">
				<span class="copyright">© Copyright 2021 <a href="https://1.envato.market/car-service-mechanic-auto-shop-template" title="Carservice Template" target="_blank">Carservice Template</a> by <a href="https://quanticalabs.com" title="QuanticaLabs" target="_blank">QuanticaLabs</a></span>
			</div>
		</div>
		<a href="#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>
		<div class="background-overlay"></div>
		<!--js-->
		<script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
		<!--slider revolution-->
		<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="js/jquery.ba-bbq.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.12.1.custom.min.js"></script>
		<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
		<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
		<script type="text/javascript" src="js/jquery.easing.1.4.1.min.js"></script>
		<script type="text/javascript" src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
		<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
		<script type="text/javascript" src="js/jquery.transit.min.js"></script>
		<script type="text/javascript" src="js/jquery.hint.min.js"></script>
		<script type="text/javascript" src="js/jquery.costCalculator.min.js"></script>
		<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
		<script type="text/javascript" src="js/jquery.qtip.min.js"></script>
		<script type="text/javascript" src="js/jquery.blockUI.min.js"></script>
		<script type="text/javascript" src="js/jquery.imagesloaded-packed.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/odometer.min.js"></script>
	</body>
</html>