<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<form th:replace="FragmentForm.html :: head"></form>
	<body>
		<div class="site-container">
			<form th:replace="~{FragmentForm.html :: header-icons-info}"></form>
			<form th:replace="~{FragmentForm.html :: header-container}"></form>
			<!-- Slider Revolution -->
			<div class="revolution-slider-container">
				<div class="revolution-slider" data-version="5.4.8" style="display: none;">
					<ul style="display: none;">
						<!-- SLIDE 1 -->
						<li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
							<!-- MAIN IMAGE -->
							<img src="../static/images/slider/image_01.jpg" th:src="@{/images/slider/image_01.jpg}" alt="slidebg1" data-bgfit="cover">
							<!-- LAYERS -->
							<!-- LAYER 01 -->
							<div class="tp-caption"
								data-frames='[{"delay":500,"speed":1200,"from":"y:-40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								data-x="center"
								data-y="97"
								>

								<div class="hexagon"><div class="sl-small-car-oil"></div></div>
							</div>
							<!-- LAYER 02 -->
							<div class="tp-caption"
								data-frames='[{"delay":900,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								data-x="center"
								data-y="262"
								>
								
								<h2><a target="_top" title="MAKE YOUR CAR LAST LONGER">MAKE YOUR CAR LAST LONGER</a></h2>

							</div>
							<!-- LAYER 03 -->
							<div class="tp-caption"
								data-frames='[{"delay":1100,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								data-x="center"
								data-y="343"
								>

								<p class="description">Regular oil changes keep your engine healthy, reduce wear, and improve fuel efficiency.</p>

							</div>
							<!-- LAYER 04 -->
							<div class="tp-caption"
								data-frames='[{"delay":1300,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								data-x="center"
								data-y="441"
								>

							</div>
							<!-- / -->
						</li>
						<!-- SLIDE 2 -->
						<li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
							<!-- MAIN IMAGE -->
							<img src="../static/images/slider/image_02.jpg" th:src="@{/images/slider/image_02.jpg}" alt="slidebg2" data-bgfit="cover">
							<!-- LAYERS -->
							<!-- LAYER 01 -->
							<div class="tp-caption customin customout"
								data-frames='[{"delay":500,"speed":1200,"from":"y:-40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								
								data-x="center"
								data-y="97"
								>

								
								<div class="hexagon"><div class="sl-small-car"></div></div>
							</div>
							<!-- LAYER 02 -->
							<div class="tp-caption customin customout"
								data-frames='[{"delay":900,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								
								data-x="center"
								data-y="262"
								>

								
								<h2><a target="_top" title="MAKE YOUR CAR LAST LONGER">FIND THE TIRES THAT MATCH YOUR NEEDS</a></h2>
							</div>
							<!-- LAYER 03 -->
							<div class="tp-caption customin customout"
								data-frames='[{"delay":1100,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								
								data-x="center"
								data-y="343"
								>

								
								<p class="description">Take advantage of our lowest prices!</p>
							</div>
							<!-- LAYER 04 -->
							<div class="tp-caption customin customout"
								data-frames='[{"delay":1300,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								
								data-x="center"
								data-y="441"
								>

							</div>
							<!-- / -->
						</li>
						
						<!-- SLIDE 3 -->
						<li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
							<!-- MAIN IMAGE -->
							<img src="../static/images/slider/image_03.jpg" th:src="@{/images/slider/image_03.jpg}" alt="slidebg3" data-bgfit="cover">
							<!-- LAYERS -->
							<!-- LAYER 01 -->
							<div class="tp-caption customin customout"
								data-frames='[{"delay":500,"speed":1200,"from":"y:-40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								
								data-x="center"
								data-y="97"
								>

								
								<div class="hexagon"><div class="sl-small-car-checklist"></div></div>
							</div>
							<!-- LAYER 02 -->
							<div class="tp-caption customin customout"
								data-frames='[{"delay":900,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								
								data-x="center"
								data-y="262"
								>

								
								<h2><a target="_top" title="MAKE YOUR CAR LAST LONGER">EXPERT TECHNICIANS, COMPETITIVE PRICES</a></h2>
							</div>
							<!-- LAYER 03 -->
							<div class="tp-caption customin customout"
								data-frames='[{"delay":1100,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								
								data-x="center"
								data-y="343"
								>

								
								<p class="description">We are committed to earning your trust by providing the expertise and value you expect.</p>
							</div>
							<!-- LAYER 04 -->
							<div class="tp-caption customin customout"
								data-frames='[{"delay":1300,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								
								data-x="center"
								data-y="441"
								>

							</div>
							<!-- / -->
						</li>
					</ul>
				</div>
			</div>
			<!--/-->

			<div class="theme-page">
				<div class="clearfix">
					<div class="row gray full-width">
						<div class="announcement clearfix">
							<ul class="columns no-width">
								<li class="column column-2-3">
									<div class="vertical-align">
										<div class="vertical-align-cell">
											<h3>MAKE AN APPOINTMENT	NOW WITH OUR ONLINE FORM</h3>
										</div>
									</div>
								</li>
								<li class="column column-1-3">
									<div class="vertical-align">
										<div class="vertical-align-cell">
											<a class="more" href="appointment.html" th:href="@{/ti/appointment}" title="MAKE AN APPOINTMENT"><span>MAKE AN APPOINTMENT</span></a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="row page-margin-top-section">
						<div class="row">
							<h2 class="box-header">WHY CHOOSE US?</h2>
							<p class="description align-center">We are one of the leading auto repair shops serving customers in Tucson.<br>All mechanic services are performed by highly qualified mechanics.</p>
							<div class="row page-margin-top">
								<div class="column column-1-3">
									<ul class="features-list big">
										<li>
											<div class="hexagon"><div class="sl-small-user-chat"></div></div>
											<h4 class="box-header page-margin-top">EVERY JOB IS PERSONAL</h4>
											<p>If you want the quality you would expect from the dealership, but with a more personal and friendly atmosphere, you have found it.</p>
										</li>
									</ul>
								</div>
								<div class="column column-1-3">
									<ul class="features-list big">
										<li>
											<div class="hexagon"><div class="sl-small-wrench-screwdriver"></div></div>
											<h4 class="box-header page-margin-top">BEST MATERIALS</h4>
											<p>We have invested in all the latest specialist tools and diagnostic software that is specifically tailored for the software in your vehicle.</p>
										</li>
									</ul>
								</div>
								<div class="column column-1-3">
									<ul class="features-list big">
										<li>
											<div class="hexagon"><div class="sl-small-truck-tow"></div></div>
											<h4 class="box-header page-margin-top">PROFESSIONAL STANDARDS</h4>
											<p>Our auto repair shop is capable of servicing a variety of models. We only do the work that is needed to fix your problem.</p>
										</li>
									</ul>
								</div>
							</div>
							<div class="align-center margin-top-67 padding-bottom-20">
								<a class="more" href="about.html" title="READ MORE" th:href="@{/ti/about}"><span>READ MORE</span></a>
							</div>
						</div>	
					</div>
					<div class="row full-width gray flex-box page-margin-top-section">
						<div class="column column-1-2 background-1">
							<a class="flex-hide" href="service_engine_diagnostics.html" title="Tiling and Painting">
								<img src="../static/images/samples/960x680/image_01.jpg" alt="">
							</a>
						</div>
						<div class="column column-1-2 padding-bottom-66">
							<div class="row padding-left-right-100">
								<h2 class="box-header page-margin-top-section">VEHICLES SERVICED</h2>
								<p class="description align-center">We provide top notch maintenance service for all types of vehicles.<br>We are certified to service and repair the following makes:</p>
								<div class="row margin-top-30">
									<div class="column column-1-3">
										<ul class="list">
											<li class="template-bullet">Audi</li>
										</ul>
									</div>
									<div class="column column-1-3">
										<ul class="list">
											<li class="template-bullet">Volkswagen</li>
										</ul>
									</div>
									<div class="column column-1-3">
										<ul class="list">
											<li class="template-bullet">Porsche</li>
										</ul>
									</div>
								</div>
								<div class="align-center margin-top-67 padding-bottom-20">
									<a class="more simple" href="services.html" th:href="@{/ti/vehicles}" title="VIEW FULL LIST"><span>VIEW FULL LIST</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="row full-width page-padding-top-section">
						<div class="row">
							<h2 class="box-header">AUTO REPAIR SERVICES</h2>
							<p class="description align-center">We offer a full range of garage services to vehicle owners located in Tucson area.<br>Our professinals know how to handle a wide range of car services.</p>
							<ul class="services-list clearfix page-margin-top">
								<li>
									<a href="service_engine_diagnostics.html" title="Engine Diagnostics">
										<img src="../static/images/samples/390x260/image_01.jpg" th:src="@{/images/samples/390x260/image_01.jpg}" alt="">
									</a>
									<h4 class="box-header"><a href="service_engine_diagnostics.html" title="Engine Diagnostics">ENGINE DIAGNOSTICS<span class="template-arrow-menu"></span></a></h4>
								</li>
								<li>
									<a href="service_lube_oil_filters.html" title="Lube, Oil and Filters">
										<img src="../static/images/samples/390x260/image_02.jpg" th:src="@{/images/samples/390x260/image_02.jpg}" alt="">
									</a>
									<h4 class="box-header"><a href="service_lube_oil_filters.html" title="Lube, Oil and Filters">LUBE, OIL AND FILTERS<span class="template-arrow-menu"></span></a></h4>
								</li>
								<li>
									<a href="service_belts_hoses.html" title="Belts and Hoses">
										<img src="../static/images/samples/390x260/image_03.jpg" th:src="@{/images/samples/390x260/image_03.jpg}" alt="">
									</a>
									<h4 class="box-header"><a href="service_brake_repair.html" title="Brake repair">BRAKE REPAIR<span class="template-arrow-menu"></span></a></h4>
								</li>
							</ul>
							<div class="align-center margin-top-40 padding-bottom-87">
								<a class="more" href="services.html" th:href="@{/ti/services}" title="VIEW ALL SERVICES"><span>VIEW ALL SERVICES</span></a>
							</div>
						</div>
					</div>
					<div class="row full-width padding-top-70 padding-bottom-66 parallax parallax-1">	
						<div class="row testimonials-container">
							<a href="#" class="slider-control left template-arrow-left-1"></a>
							<ul class="testimonials-list">
								<li>
									<div class="hexagon small"><div class="sl-small-pen"></div></div>
									<p>"I have taken several of the family cars here for the past several years and without exception the experiences have been outstanding. 
									I would highly recommend this place to any one who wants great service, honest value, and really great people."</p>
									<h6>ROBERT SMITH</h6>
									<!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
								</li>
								<li>
									<div class="hexagon small"><div class="sl-small-pen"></div></div>
									<p>"I have taken several of the family cars here for the past several years and without exception the experiences have been outstanding. 
									I would highly recommend this place to any one who wants great service, honest value, and really great people."</p>
									<h6>ROBERT SMITH</h6>
									<!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
								</li>
								<li>
									<div class="hexagon small"><div class="sl-small-pen"></div></div>
									<p>"I have taken several of the family cars here for the past several years and without exception the experiences have been outstanding. 
									I would highly recommend this place to any one who wants great service, honest value, and really great people."</p>
									<h6>ROBERT SMITH</h6>
									<!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
								</li>
							</ul>
							<a href="#" class="slider-control right template-arrow-left-1"></a>
						</div>
					</div>
					<div class="row page-margin-top-section">
						<div class="row">
							<h2 class="box-header">COMPANY OVERVIEW</h2>
							<p class="description align-center">We can help you with everything from an oil change to an engine change.<br>We can handle any problem on both foreign and domestic vehicles.</p>
						</div>
						<div class="row page-margin-top-section">
							<div class="column column-1-3">
								<ul class="features-list">
									<li>
										<h5>CAR AUDIO SERVICE</h5>
										<div class="icon sl-small-car-audio"></div>
										<p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
									</li>
									<li>
										<h5>CAR A/C RECHARGE</h5>
										<div class="icon sl-small-air-conditioning"></div>
										<p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
									</li>
								</ul>
							</div>
							<div class="column column-1-3">
								<ul class="features-list">
									<li>
										<h5>FREE OIL CHANGE</h5>
										<div class="icon sl-small-car-oil"></div>
										<p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
									</li>
									<li>
										<h5>PARKING SENSORS CALIBRATION</h5>
										<div class="icon sl-small-parking-sensor"></div>
										<p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
									</li>
								</ul>
							</div>
							<div class="column column-1-3">
								<ul class="features-list">
									<li>
										<h5>ENGINE DIAGNOSTICS</h5>
										<div class="icon sl-small-signal-warning"></div>
										<p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
									</li>
									<li>
										<h5>CAR BATTERY REPAIRS</h5>
										<div class="icon sl-small-car-battery"></div>
										<p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row full-width page-margin-top-section">
						<ul class="galleries-list clearfix page-margin-top">
							<li>
								<a href="gallery_tire_change.html" title="Tire Change">
									<img src="../static/images/samples/480x320/image_07.jpg" th:src="@{/images/samples/480x320/image_07.jpg}" alt="">
								</a>
								<div class="view align-center">
									<div class="vertical-align-table">
										<div class="vertical-align-cell">
											<p class="description">Tire Change</p>
										</div>
									</div>
								</div>
							</li>
							<li>
								<a href="gallery_oil_change.html" title="Oil Change">
									<img src="../static/images/samples/480x320/image_02.jpg" th:src="@{/images/samples/480x320/image_02.jpg}" alt="">
								</a>
								<div class="view align-center">
									<div class="vertical-align-table">
										<div class="vertical-align-cell">
											<p class="description">Oil Change</p>
										</div>
									</div>
								</div>
							</li>
							<li>
								<a href="gallery_belts_hoses.html" title="Our Facility">
									<img src="../static/images/samples/480x320/image_08.jpg" th:src="@{/images/samples/480x320/image_08.jpg}" alt="">
								</a>
								<div class="view align-center">
									<div class="vertical-align-table">
										<div class="vertical-align-cell">
											<p class="description">Our Facility</p>
										</div>
									</div>
								</div>
							</li>
							<li>
								<a href="gallery_brake_repair.html" title="Brakes Repair">
									<img src="../static/images/samples/480x320/image_05.jpg" th:src="@{/images/samples/480x320/image_05.jpg}" alt="">
								</a>
								<div class="view align-center">
									<div class="vertical-align-table">
										<div class="vertical-align-cell">
											<p class="description">Brakes Repair</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="row page-margin-top-section">
						<div class="column column-1-2">
							<h3 class="box-header">OUR MISSION</h3>
							<p class="description">We offer a full range of garage services to vehicle owners located in Tucson area. All mechanic services are performed by highly qualified mechanics. We can handle any car problem.</p>
							<p>We offer a full range of garage services to vehicle owners in Tucson. Our professionals know how to handle a wide range of car services. Whether you drive a passenger car or medium sized truck or SUV, our mechanics strive to <a href="#">ensure that your vehicle</a> will be performing at its best <a href="#">before leaving</a> our car shop.</p>
							<div class="page-margin-top">
								<a class="more" href="about.html" th:href="@{/ti/about}" title="READ MORE"><span>READ MORE</span></a>
							</div>
						</div>
						<div class="column column-1-2">
							<h3 class="box-header">POPULAR QUESTIONS</h3>
							<ul class="accordion margin-top-40 clearfix">
								<li>
									<div id="accordion-using-synthetic">
										<h4>Should I consider using synthetic motor oil?</h4>
									</div>
									<p>Synthetic engine oils are produced through a synthesis process that takes very small molecules and assembles them into larger designer molecules with premium lubricating properties.</p>
								</li>
								<li>
									<div id="accordion-parts-replacements">
										<h4>What parts should be replaced at what intervals?</h4>
									</div>
									<p>Synthetic engine oils are produced through a synthesis process that takes very small molecules and assembles them into larger designer molecules with premium lubricating properties.</p>
								</li>
								<li>
									<div id="accordion-track-routine">
										<h4>How do I keep track of routine maintenance?</h4>
									</div>
									<p>Synthetic engine oils are produced through a synthesis process that takes very small molecules and assembles them into larger designer molecules with premium lubricating properties.</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="row full-width top-border page-margin-top-section padding-bottom-50">
						<div class="row">
							<div class="our-clients-list-container page-margin-top">
								<ul class="our-clients-list">
									<li>
										<img src="../static/images/logos/logo_01.png" th:src="@{/images/logos/logo_01.png}" alt="">
									</li>
									<li>
										<img src="../static/images/logos/logo_02.png" th:src="@{/images/logos/logo_02.png}" alt="">
									</li>
									<li>
										<img src="../static/images/logos/logo_03.png" th:src="@{/images/logos/logo_03.png}" alt="">
									</li>
									<li>
										<img src="../static/images/logos/logo_04.png" th:src="@{/images/logos/logo_04.png}" alt="">
									</li>
									<li>
										<img src="../static/images/logos/logo_05.png" th:src="@{/images/logos/logo_05.png}" alt="">
									</li>
									<li>
										<img src="../static/images/logos/logo_06.png" th:src="@{/images/logos/logo_06.png}" alt="">
									</li>
									<li>
										<img src="../static/images/logos/logo_06.png" th:src="@{/images/logos/logo_06.png}" alt="">
									</li>
									<li>
										<img src="../static/images/logos/logo_05.png" th:src="@{/images/logos/logo_05.png}" alt="">
									</li>
									<li>
										<img src="../static/images/logos/logo_04.png" th:src="@{/images/logos/logo_04.png}" alt="">
									</li>
									<li>
										<img src="../static/images/logos/logo_03.png" th:src="@{/images/logos/logo_03.png}" alt="">
									</li>
									<li>
										<img src="../static/images/logos/logo_02.png" th:src="@{/images/logos/logo_02.png}" alt="">
									</li>
									<li>
										<img src="../static/images/logos/logo_01.png" th:src="@{/images/logos/logo_01.png}" alt="">
									</li>
									<li>
										<img src="../static/images/logos/logo_04.png" th:src="@{/images/logos/logo_04.png}" alt="">
									</li>
									<li>
										<img src="../static/images/logos/logo_03.png" th:src="@{/images/logos/logo_03.png}" alt="">
									</li>
									<li>
										<img src="../static/images/logos/logo_01.png" th:src="@{/images/logos/logo_01.png}" alt="">
									</li>
									<li>
										<img src="../static/images/logos/logo_05.png" th:src="@{/images/logos/logo_05.png}" alt="">
									</li>
								</ul>
								<div class="cs-carousel-pagination"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<form th:replace="~{FragmentForm.html :: footer-and-copyright}"></form>
		</div>
		<a href="#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>
		<div class="background-overlay"></div>
		<!--js-->
		<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<!--slider revolution-->
		<script type="text/javascript" th:src="@{/plugins/rs-plugin/js/jquery.themepunch.tools.min.js}"></script>
		<script type="text/javascript" th:src="@{/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.ba-bbq.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery-ui-1.12.1.custom.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.ui.touch-punch.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.isotope.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.easing.1.4.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.carouFredSel-6.2.1-packed.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.touchSwipe.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.transit.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.hint.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.costCalculator.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.prettyPhoto.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.qtip.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.blockUI.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.imagesloaded-packed.js}"></script>
		<script type="text/javascript" th:src="@{/js/main.js}"></script>
		<script type="text/javascript" th:src="@{/js/odometer.min.js}"></script>
	</body>

</html>