<!DOCTYPE html>
<html>
	<head>
		<title>CarService - Mechanic Auto Shop Template</title>
		<!--meta-->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.2" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="keywords" content="Mechanic, Car, Auto" />
		<meta name="description" content="Responsive Mechanic Auto Shop Template" />
		<!--slider revolution-->
		<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
		<!--style-->
		<link href='//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="style/reset.css">
		<link rel="stylesheet" type="text/css" href="style/superfish.css">
		<link rel="stylesheet" type="text/css" href="style/prettyPhoto.css">
		<link rel="stylesheet" type="text/css" href="style/jquery.qtip.css">
		<link rel="stylesheet" type="text/css" href="style/style.css">
		<link rel="stylesheet" type="text/css" href="style/animations.css">
		<link rel="stylesheet" type="text/css" href="style/responsive.css">
		<link rel="stylesheet" type="text/css" href="style/odometer-theme-default.css">
		<!--fonts-->
		<link rel="stylesheet" type="text/css" href="fonts/streamline-small/style.css">
		<link rel="stylesheet" type="text/css" href="fonts/template/styles.css">
		<link rel="stylesheet" type="text/css" href="fonts/social/styles.css">
		<link rel="shortcut icon" href="images/favicon.ico">
	</head>
	<body>
		<div class="site-container">
			<div class="header-top-bar-container clearfix">
				<div class="header-top-bar">
					<ul class="contact-details clearfix">
						<li class="template-phone">
							(520) 577 2710
						</li>
						<li class="template-mail">
							<a href="mailto:carservice@mail.com">carservice@mail.com</a>
						</li>
						<li class="template-clock">
							Mon - Fri: 7:30am - 5:30pm
						</li>
					</ul>
					<div class="search-container">
						<a class="template-search" href="#" title="Search"></a>
						<form class="search" action="search.html">
							<input type="text" name="s" placeholder="Search..." value="Search..." class="search-input hint">
							<fieldset class="search-submit-container">
								<span class="template-search"></span>
								<input type="submit" class="search-submit" value="">
							</fieldset>
						</form>
					</div>
					<ul class="social-icons">
						<li>
							<a target="_blank" href="https://facebook.com/QuanticaLabs" class="social-facebook" title="facebook"></a>
						</li>
						<li>
							<a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
						</li>
						<li>
							<a href="https://pinterest.com/quanticalabs/" class="social-pinterest" title="pinterest"></a>
						</li>
						<!--<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-google-plus"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-youtube"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-linkedin"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-pinterest"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-dribble"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-skype"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-tumblr"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-instagram"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-xing"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-foursquare"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-rss"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-behance"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-picasa"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-stumbleupon"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-vimeo"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-houzz"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-yelp"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-github"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-reddit"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-soundcloud"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-vk"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-vine"></a>
						</li>
						-->
					</ul>
				</div>
				<a href="#" class="header-toggle template-arrow-up"></a>
			</div>
			<div class="header-container">
			<!--<div class="header-container sticky">-->
				<div class="vertical-align-table column-1-1">
					<div class="header clearfix">
						<div class="logo vertical-align-cell">
							<h1><a href="home" title="CarService">CARSERVICE</a></h1>
						</div>
						<a href="#" class="mobile-menu-switch vertical-align-cell">
							<span class="line"></span>
							<span class="line"></span>
							<span class="line"></span>
						</a>
						<div class="menu-container clearfix vertical-align-cell">
							<nav>
								<ul class="sf-menu">
									<li class="selected">
										<a href="index.html" title="Home">
											Home
										</a>
										<ul>
											<li class="selected">
												<a href="index.html" title="Home Style 1">
													Home Style 1
												</a>
											</li>
											<li>
												<a href="home2.html" title="Home Style 2">
													Home Style 2
												</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="services.html" title="Services">
											Services
										</a>
										<ul>
											<li>
												<a href="service_engine_diagnostics.html" title="Engine Diagnostics">
													Engine Diagnostics
												</a>
											</li>
											<li>
												<a href="service_lube_oil_filters.html" title="Lube, Oil and Filters">
													Lube, Oil and Filters
												</a>
											</li>
											<li>
												<a href="service_belts_hoses.html" title="Belts and Hoses">
													Belts and Hoses
												</a>
											</li>
											<li>
												<a href="service_air_conditioning.html" title="Air Conditioning">
													Air Conditioning
												</a>
											</li>
											<li>
												<a href="service_brake_repair.html" title="Brake Repair">
													Brake Repair
												</a>
											</li>
											<li>
												<a href="service_tire_wheel.html" title="Tire and Wheel Services">
													Tire and Wheel Services
												</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="galleries.html" title="Gallery">
											Gallery
										</a>
										<ul>
											<li>
												<a href="gallery_engine_diagnostics.html" title="Engine Diagnostics">
													Engine Diagnostics
												</a>
											</li>
											<li>
												<a href="gallery_oil_change.html" title="Oil Change">
													Oil Change
												</a>
											</li>
											<li>
												<a href="gallery_belts_hoses.html" title="Belts and Hoses">
													Belts and Hoses
												</a>
											</li>
											<li>
												<a href="gallery_tire_change.html" title="Tire Change">
													Tire Change
												</a>
											</li>
											<li>
												<a href="gallery_wheel_services.html" title="Wheel Services">
													Wheel Services
												</a>
											</li>
											<li>
												<a href="gallery_lube_services.html" title="Lube Services">
													Lube Services
												</a>
											</li>
											<li>
												<a href="gallery_brake_repair.html" title="Brake Repair">
													Brake Repair
												</a>
											</li>
											<li>
												<a href="gallery_other_car_services.html" title="Other Car Services">
													Other Car Services
												</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="team.html" title="Our Team">
											Our Team
										</a>
									</li>
									<li>
										<a href="about.html" title="Pages">
											Pages
										</a>
										<ul>
											<li>
												<a href="about.html" title="About">
													About
												</a>
											</li>
											<li>
												<a href="404.html" title="404 Not Found">
													404 Not Found
												</a>
											</li>
											<li>
												<a href="services.html" title="Services Style 1">
													Services Style 1
												</a>
											</li>
											<li>
												<a href="services2.html" title="Services Style 2">
													Services Style 2
												</a>
											</li>
											<li>
												<a href="service_engine_diagnostics.html" title="Single Service">
													Single Service
												</a>
											</li>
											<li>
												<a href="galleries.html" title="Galleries">
													Galleries
												</a>
											</li>
											<li>
												<a href="gallery_engine_diagnostics.html" title="Single Project">
													Single Gallery
												</a>
											</li>
											<li>
												<a href="team.html" title="Team">
													Team
												</a>
											</li>
											<li>
												<a href="team_mark_whilberg.html" title="Single Team">
													Single Team
												</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="blog.html" title="Blog">
											Blog
										</a>
										<ul>
											<li>
												<a href="blog.html" title="Blog">
													Blog
												</a>
											</li>
											<li>
												<a href="blog_left_sidebar.html" title="Blog">
													Blog Left Sidebar
												</a>
											</li>
											<li>
												<a href="blog_2_columns.html" title="Blog 2 Columns">
													Blog 2 Columns
												</a>
											</li>
											<li>
												<a href="blog_3_columns.html" title="Blog 3 Columns">
													Blog 3 Columns
												</a>
											</li>
											<li>
												<a href="post.html" title="Single Post">
													Single Post
												</a>
											</li>
											<li>
												<a href="search.html?s=ipsum" title="Search Template">
													Search Template
												</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="appointment.html" title="Appointment">
											Appointment
										</a>
									</li>
									<li class="left-flyout">
										<a href="contact.html" title="Contact">
											Contact
										</a>
										<ul>
											<li>
												<a href="contact.html" title="Contact Style 1">
													Contact Style 1
												</a>
											</li>
											<li>
												<a href="contact_2.html" title="Contact Style 2">
													Contact Style 2
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
							<div class="mobile-menu-container">
								<div class="mobile-menu-divider"></div>
								<nav>
									<ul class="mobile-menu collapsible-mobile-submenus">
										<li class="selected">
											<a href="index.html" title="Home">
												Home
											</a>
											<a href="#" class="template-arrow-menu"></a>
											<ul>
												<li class="selected">
													<a href="index.html" title="Home Style 1">
														Home Style 1
													</a>
												</li>
												<li>
													<a href="home2.html" title="Home Style 2">
														Home Style 2
													</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="services.html" title="Services">
												Services
											</a>
											<a href="#" class="template-arrow-menu"></a>
											<ul>
												<li>
													<a href="service_engine_diagnostics.html" title="Engine Diagnostics">
														Engine Diagnostics
													</a>
												</li>
												<li>
													<a href="service_lube_oil_filters.html" title="Lube, Oil and Filters">
														Lube, Oil and Filters
													</a>
												</li>
												<li>
													<a href="service_belts_hoses.html" title="Belts and Hoses">
														Belts and Hoses
													</a>
												</li>
												<li>
													<a href="service_air_conditioning.html" title="Air Conditioning">
														Air Conditioning
													</a>
												</li>
												<li>
													<a href="service_brake_repair.html" title="Brake Repair">
														Brake Repair
													</a>
												</li>
												<li>
													<a href="service_tire_wheel.html" title="Tire and Wheel Services">
														Tire and Wheel Services
													</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="galleries.html" title="Gallery">
												Gallery
											</a>
											<a href="#" class="template-arrow-menu"></a>
											<ul>
												<li>
													<a href="gallery_engine_diagnostics.html" title="Engine Diagnostics">
														Engine Diagnostics
													</a>
												</li>
												<li>
													<a href="gallery_oil_change.html" title="Oil Change">
														Oil Change
													</a>
												</li>
												<li>
													<a href="gallery_belts_hoses.html" title="Belts and Hoses">
														Belts and Hoses
													</a>
												</li>
												<li>
													<a href="gallery_tire_change.html" title="Tire Change">
														Tire Change
													</a>
												</li>
												<li>
													<a href="gallery_wheel_services.html" title="Wheel Services">
														Wheel Services
													</a>
												</li>
												<li>
													<a href="gallery_lube_services.html" title="Lube Services">
														Lube Services
													</a>
												</li>
												<li>
													<a href="gallery_brake_repair.html" title="Brake Repair">
														Brake Repair
													</a>
												</li>
												<li>
													<a href="gallery_other_car_services.html" title="Other Car Services">
														Other Car Services
													</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="team.html" title="Our Team">
												Our Team
											</a>
										</li>
										<li>
											<a href="about.html" title="Pages">
												Pages
											</a>
											<a href="#" class="template-arrow-menu"></a>
											<ul>
												<li>
													<a href="about.html" title="About">
														About
													</a>
												</li>
												<li>
													<a href="404.html" title="404 Not Found">
														404 Not Found
													</a>
												</li>
												<li>
													<a href="services.html" title="Services Style 1">
														Services Style 1
													</a>
												</li>
												<li>
													<a href="services2.html" title="Services Style 2">
														Services Style 2
													</a>
												</li>
												<li>
													<a href="service_engine_diagnostics.html" title="Single Service">
														Single Service
													</a>
												</li>
												<li>
													<a href="galleries.html" title="Galleries">
														Galleries
													</a>
												</li>
												<li>
													<a href="gallery_engine_diagnostics.html" title="Single Project">
														Single Gallery
													</a>
												</li>
												<li>
													<a href="team.html" title="Team">
														Team
													</a>
												</li>
												<li>
													<a href="team_mark_whilberg.html" title="Single Team">
														Single Team
													</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="blog.html" title="Blog">
												Blog
											</a>
											<a href="#" class="template-arrow-menu"></a>
											<ul>
												<li>
													<a href="blog.html" title="Blog">
														Blog
													</a>
												</li>
												<li>
													<a href="blog_left_sidebar.html" title="Blog">
														Blog Left Sidebar
													</a>
												</li>
												<li>
													<a href="blog_2_columns.html" title="Blog 2 Columns">
														Blog 2 Columns
													</a>
												</li>
												<li>
													<a href="blog_3_columns.html" title="Blog 3 Columns">
														Blog 3 Columns
													</a>
												</li>
												<li>
													<a href="post.html" title="Single Post">
														Single Post
													</a>
												</li>
												<li>
													<a href="search.html?s=ipsum" title="Search Template">
														Search Template
													</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="appointment.html" title="Appointment">
												Appointment
											</a>
										</li>
										<li class="left-flyout">
											<a href="contact.html" title="Contact">
												Contact
											</a>
											<a href="#" class="template-arrow-menu"></a>
											<ul>
												<li>
													<a href="contact.html" title="Contact Style 1">
														Contact Style 1
													</a>
												</li>
												<li>
													<a href="contact_2.html" title="Contact Style 2">
														Contact Style 2
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Slider Revolution -->
			<div class="revolution-slider-container">
				<div class="revolution-slider" data-version="5.4.8" style="display: none;">
					<ul style="display: none;">
						<!-- SLIDE 1 -->
						<li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
							<!-- MAIN IMAGE -->
							<img src="images/slider/image_01.jpg" alt="slidebg1" data-bgfit="cover">
							<!-- LAYERS -->
							<!-- LAYER 01 -->
							<div class="tp-caption"
								data-frames='[{"delay":500,"speed":1200,"from":"y:-40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								data-x="center"
								data-y="97"
								>
								<!--data-start="500"
								data-transform_in="x:0;y:-40;o:0;s:1200;e:easeInOutExpo;"
								data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->
								
								<div class="hexagon"><div class="sl-small-car-oil"></div></div>
							</div>
							<!-- LAYER 02 -->
							<div class="tp-caption"
								data-frames='[{"delay":900,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								data-x="center"
								data-y="262"
								>
								<!--data-start="900"
								data-transform_in="x:0;y:40;o:0;s:1200;e:easeInOutExpo;"
								data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->
								
								<h2><a target="_top" href="https://1.envato.market/car-service-mechanic-auto-shop-template" title="MAKE YOUR CAR LAST LONGER">MAKE YOUR CAR LAST LONGER</a></h2>
							</div>
							<!-- LAYER 03 -->
							<div class="tp-caption"
								data-frames='[{"delay":1100,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								data-x="center"
								data-y="343"
								>
								<!--data-start="1100"
								data-transform_in="x:0;y:40;o:0;s:1200;e:easeInOutExpo;"
								data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->
								
								<p class="description">Free oil change, April 15. Only if you have a "5" on your license plate.</p>
							</div>
							<!-- LAYER 04 -->
							<div class="tp-caption"
								data-frames='[{"delay":1300,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								data-x="center"
								data-y="441"
								>
								<!--data-start="1300"
								data-transform_in="x:0;y:40;o:0;s:1200;e:easeInOutExpo;"
								data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->
								
								<div class="align-center">
									<a target="_top" class="more simple" href="https://1.envato.market/c/296919/275988/4415?u=https://themeforest.net/cart/add_items?item_ids=12332985&amp;ref=QuanticaLabs" title="PURCHASE TEMPLATE"><span>PURCHASE TEMPLATE</span></a>
								</div>
							</div>
							<!-- / -->
						</li>
						<!-- SLIDE 2 -->
						<li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
							<!-- MAIN IMAGE -->
							<img src="images/slider/image_02.jpg" alt="slidebg2" data-bgfit="cover">
							<!-- LAYERS -->
							<!-- LAYER 01 -->
							<div class="tp-caption customin customout"
								data-frames='[{"delay":500,"speed":1200,"from":"y:-40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								
								data-x="center"
								data-y="97"
								>
								<!--data-start="500"
								data-transform_in="x:0;y:-40;o:0;s:1200;e:easeInOutExpo;"
								data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->
								
								<div class="hexagon"><div class="sl-small-car"></div></div>
							</div>
							<!-- LAYER 02 -->
							<div class="tp-caption customin customout"
								data-frames='[{"delay":900,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								
								data-x="center"
								data-y="262"
								>
								<!--data-start="900"
								data-transform_in="x:0;y:40;o:0;s:1200;e:easeInOutExpo;"
								data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->
								
								<h2><a target="_top" href="https://1.envato.market/car-service-mechanic-auto-shop-template" title="MAKE YOUR CAR LAST LONGER">FIND THE TIRES THAT MATCH YOUR NEEDS</a></h2>
							</div>
							<!-- LAYER 03 -->
							<div class="tp-caption customin customout"
								data-frames='[{"delay":1100,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								
								data-x="center"
								data-y="343"
								>
								<!--data-start="1100"
								data-transform_in="x:0;y:40;o:0;s:1200;e:easeInOutExpo;"
								data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->
								
								<p class="description">Take advantage of our lowest prices which automatically include coupons.</p>
							</div>
							<!-- LAYER 04 -->
							<div class="tp-caption customin customout"
								data-frames='[{"delay":1300,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								
								data-x="center"
								data-y="441"
								>
								<!--data-start="1300"
								data-transform_in="x:0;y:40;o:0;s:1200;e:easeInOutExpo;"
								data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->
								
								<div class="align-center">
									<a target="_top" class="more simple" href="https://1.envato.market/c/296919/275988/4415?u=https://themeforest.net/cart/add_items?item_ids=12332985&amp;ref=QuanticaLabs" title="PURCHASE TEMPLATE"><span>PURCHASE TEMPLATE</span></a>
								</div>
							</div>
							<!-- / -->
						</li>
						
						<!-- SLIDE 3 -->
						<li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
							<!-- MAIN IMAGE -->
							<img src="images/slider/image_03.jpg" alt="slidebg3" data-bgfit="cover">
							<!-- LAYERS -->
							<!-- LAYER 01 -->
							<div class="tp-caption customin customout"
								data-frames='[{"delay":500,"speed":1200,"from":"y:-40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								
								data-x="center"
								data-y="97"
								>
								<!--data-start="500"
								data-transform_in="x:0;y:-40;o:0;s:1200;e:easeInOutExpo;"
								data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->
								
								<div class="hexagon"><div class="sl-small-car-checklist"></div></div>
							</div>
							<!-- LAYER 02 -->
							<div class="tp-caption customin customout"
								data-frames='[{"delay":900,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								
								data-x="center"
								data-y="262"
								>
								<!--data-start="900"
								data-transform_in="x:0;y:40;o:0;s:1200;e:easeInOutExpo;"
								data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->
								
								<h2><a target="_top" href="https://1.envato.market/car-service-mechanic-auto-shop-template" title="MAKE YOUR CAR LAST LONGER">EXPERT TECHNICIANS, COMPETITIVE PRICES</a></h2>
							</div>
							<!-- LAYER 03 -->
							<div class="tp-caption customin customout"
								data-frames='[{"delay":1100,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								
								data-x="center"
								data-y="343"
								>
								<!--data-start="1100"
								data-transform_in="x:0;y:40;o:0;s:1200;e:easeInOutExpo;"
								data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->
								
								<p class="description">We are committed to earning your trust by providing the expertise and value you expect.</p>
							</div>
							<!-- LAYER 04 -->
							<div class="tp-caption customin customout"
								data-frames='[{"delay":1300,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
								
								data-x="center"
								data-y="441"
								>
								<!--data-start="1300"
								data-transform_in="x:0;y:40;o:0;s:1200;e:easeInOutExpo;"
								data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->
								
								<div class="align-center">
									<a target="_top" class="more simple" href="https://1.envato.market/c/296919/275988/4415?u=https://themeforest.net/cart/add_items?item_ids=12332985&amp;ref=QuanticaLabs" title="PURCHASE TEMPLATE"><span>PURCHASE TEMPLATE</span></a>
								</div>
							</div>
							<!-- / -->
						</li>
					</ul>
				</div>
			</div>
			<!--/-->

			<div class="theme-page">
				<div class="clearfix">
					<div class="row gray full-width">
						<div class="announcement clearfix">
							<ul class="columns no-width">
								<li class="column column-2-3">
									<div class="vertical-align">
										<div class="vertical-align-cell">
											<h3>MAKE AN APPOINTMENT	NOW WITH OUR ONLINE FORM</h3>
										</div>
									</div>
								</li>
								<li class="column column-1-3">
									<div class="vertical-align">
										<div class="vertical-align-cell">
											<a class="more" href="appointment.html" title="MAKE AN APPOINTMENT"><span>MAKE AN APPOINTMENT</span></a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="row page-margin-top-section">
						<div class="row">
							<h2 class="box-header">WHY CHOOSE US?</h2>
							<p class="description align-center">We are one of the leading auto repair shops serving customers in Tucson.<br>All mechanic services are performed by highly qualified mechanics.</p>
							<div class="row page-margin-top">
								<div class="column column-1-3">
									<ul class="features-list big">
										<li>
											<div class="hexagon"><div class="sl-small-user-chat"></div></div>
											<h4 class="box-header page-margin-top">EVERY JOB IS PERSONAL</h4>
											<p>If you want the quality you would expect from the dealership, but with a more personal and friendly atmosphere, you have found it.</p>
										</li>
									</ul>
								</div>
								<div class="column column-1-3">
									<ul class="features-list big">
										<li>
											<div class="hexagon"><div class="sl-small-wrench-screwdriver"></div></div>
											<h4 class="box-header page-margin-top">BEST MATERIALS</h4>
											<p>We have invested in all the latest specialist tools and diagnostic software that is specifically tailored for the software in your vehicle.</p>
										</li>
									</ul>
								</div>
								<div class="column column-1-3">
									<ul class="features-list big">
										<li>
											<div class="hexagon"><div class="sl-small-truck-tow"></div></div>
											<h4 class="box-header page-margin-top">PROFESSIONAL STANDARDS</h4>
											<p>Our auto repair shop is capable of servicing a variety of models. We only do the work that is needed to fix your problem.</p>
										</li>
									</ul>
								</div>
							</div>
							<div class="align-center margin-top-67 padding-bottom-20">
								<a class="more" href="about.html" title="READ MORE"><span>READ MORE</span></a>
							</div>
						</div>	
					</div>
					<div class="row full-width gray flex-box page-margin-top-section">
						<div class="column column-1-2 background-1">
							<a class="flex-hide" href="service_engine_diagnostics.html" title="Tiling and Painting">
								<img src="images/samples/960x680/image_01.jpg" alt="">
							</a>
						</div>
						<div class="column column-1-2 padding-bottom-66">
							<div class="row padding-left-right-100">
								<h2 class="box-header page-margin-top-section">VEHICLES SERVICED</h2>
								<p class="description align-center">We provide top notch maintenance service for all types of vehicles.<br>We are certified to service and repair the following makes:</p>
								<div class="row margin-top-30">
									<div class="column column-1-3">
										<ul class="list">
											<li class="template-bullet">General Motors</li>
											<li class="template-bullet">Land Rover</li>
											<li class="template-bullet">Lexus</li>
											<li class="template-bullet">Lincoln</li>
											<li class="template-bullet">Mazda</li>
										</ul>
									</div>
									<div class="column column-1-3">
										<ul class="list">
											<li class="template-bullet">Mercedes - Benz</li>
											<li class="template-bullet">Mercury</li>
											<li class="template-bullet">Mitsubishi</li>
											<li class="template-bullet">Nissan</li>
											<li class="template-bullet">Renault</li>
										</ul>
									</div>
									<div class="column column-1-3">
										<ul class="list">
											<li class="template-bullet">Plymouth</li>
											<li class="template-bullet">Pontiac Porsche</li>
											<li class="template-bullet">Rover</li>
											<li class="template-bullet">Saab</li>
											<li class="template-bullet">Saleen</li>
										</ul>
									</div>
								</div>
								<div class="align-center margin-top-67 padding-bottom-20">
									<a class="more simple" href="services.html" title="VIEW FULL LIST"><span>VIEW FULL LIST</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="row full-width page-padding-top-section">
						<div class="row">
							<h2 class="box-header">AUTO REPAIR SERVICES</h2>
							<p class="description align-center">We offer a full range of garage services to vehicle owners located in Tucson area.<br>Our professinals know how to handle a wide range of car services.</p>
							<ul class="services-list clearfix page-margin-top">
								<li>
									<a href="service_engine_diagnostics.html" title="Engine Diagnostics">
										<img src="images/samples/390x260/image_01.jpg" alt="">
									</a>
									<h4 class="box-header"><a href="service_engine_diagnostics.html" title="Engine Diagnostics">ENGINE DIAGNOSTICS<span class="template-arrow-menu"></span></a></h4>
								</li>
								<li>
									<a href="service_lube_oil_filters.html" title="Lube, Oil and Filters">
										<img src="images/samples/390x260/image_02.jpg" alt="">
									</a>
									<h4 class="box-header"><a href="service_lube_oil_filters.html" title="Lube, Oil and Filters">LUBE, OIL AND FILTERS<span class="template-arrow-menu"></span></a></h4>
								</li>
								<li>
									<a href="service_belts_hoses.html" title="Belts and Hoses">
										<img src="images/samples/390x260/image_03.jpg" alt="">
									</a>
									<h4 class="box-header"><a href="service_belts_hoses.html" title="Belts and Hoses">BELTS AND HOSES<span class="template-arrow-menu"></span></a></h4>
								</li>
							</ul>
							<div class="align-center margin-top-40 padding-bottom-87">
								<a class="more" href="services.html" title="VIEW ALL SERVICES"><span>VIEW ALL SERVICES</span></a>
							</div>
						</div>
					</div>
					<div class="row full-width padding-top-70 padding-bottom-66 parallax parallax-1">	
						<div class="row testimonials-container">
							<a href="#" class="slider-control left template-arrow-left-1"></a>
							<ul class="testimonials-list">
								<li>
									<div class="hexagon small"><div class="sl-small-pen"></div></div>
									<p>"I have taken several of the family cars here for the past several years and without exception the experiences have been outstanding. 
									I would highly recommend this place to any one who wants great service, honest value, and really great people."</p>
									<h6>ROBERT SMITH</h6>
									<!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
								</li>
								<li>
									<div class="hexagon small"><div class="sl-small-pen"></div></div>
									<p>"I have taken several of the family cars here for the past several years and without exception the experiences have been outstanding. 
									I would highly recommend this place to any one who wants great service, honest value, and really great people."</p>
									<h6>ROBERT SMITH</h6>
									<!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
								</li>
								<li>
									<div class="hexagon small"><div class="sl-small-pen"></div></div>
									<p>"I have taken several of the family cars here for the past several years and without exception the experiences have been outstanding. 
									I would highly recommend this place to any one who wants great service, honest value, and really great people."</p>
									<h6>ROBERT SMITH</h6>
									<!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
								</li>
							</ul>
							<a href="#" class="slider-control right template-arrow-left-1"></a>
						</div>
					</div>
					<div class="row page-margin-top-section">
						<div class="row">
							<h2 class="box-header">COMPANY OVERVIEW</h2>
							<p class="description align-center">We can help you with everything from an oil change to an engine change.<br>We can handle any problem on both foreign and domestic vehicles.</p>
						</div>
						<div class="row page-margin-top-section">
							<div class="column column-1-3">
								<ul class="features-list">
									<li>
										<h5>CAR AUDIO SERVICE</h5>
										<div class="icon sl-small-car-audio"></div>
										<p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
									</li>
									<li>
										<h5>CAR A/C RECHARGE</h5>
										<div class="icon sl-small-air-conditioning"></div>
										<p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
									</li>
								</ul>
							</div>
							<div class="column column-1-3">
								<ul class="features-list">
									<li>
										<h5>FREE OIL CHANGE</h5>
										<div class="icon sl-small-car-oil"></div>
										<p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
									</li>
									<li>
										<h5>PARKING SENSORS CALIBRATION</h5>
										<div class="icon sl-small-parking-sensor"></div>
										<p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
									</li>
								</ul>
							</div>
							<div class="column column-1-3">
								<ul class="features-list">
									<li>
										<h5>ENGINE DIAGNOSTICS</h5>
										<div class="icon sl-small-signal-warning"></div>
										<p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
									</li>
									<li>
										<h5>CAR BATTERY REPAIRS</h5>
										<div class="icon sl-small-car-battery"></div>
										<p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas modern forte elementum vehicula.</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row full-width page-margin-top-section">
						<ul class="galleries-list clearfix page-margin-top">
							<li>
								<a href="gallery_tire_change.html" title="Tire Change">
									<img src="images/samples/480x320/image_07.jpg" alt="">
								</a>
								<div class="view align-center">
									<div class="vertical-align-table">
										<div class="vertical-align-cell">
											<p class="description">Tire Change</p>
											<a class="more simple" href="gallery_tire_change.html" title="READ MORE">READ MORE</a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<a href="gallery_oil_change.html" title="Oil Change">
									<img src="images/samples/480x320/image_02.jpg" alt="">
								</a>
								<div class="view align-center">
									<div class="vertical-align-table">
										<div class="vertical-align-cell">
											<p class="description">Oil Change</p>
											<a class="more simple" href="gallery_oil_change.html" title="READ MORE">READ MORE</a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<a href="gallery_belts_hoses.html" title="Our Facility">
									<img src="images/samples/480x320/image_08.jpg" alt="">
								</a>
								<div class="view align-center">
									<div class="vertical-align-table">
										<div class="vertical-align-cell">
											<p class="description">Our Facility</p>
											<a class="more simple" href="gallery_belts_hoses.html" title="READ MORE">READ MORE</a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<a href="gallery_brake_repair.html" title="Brakes Repair">
									<img src="images/samples/480x320/image_05.jpg" alt="">
								</a>
								<div class="view align-center">
									<div class="vertical-align-table">
										<div class="vertical-align-cell">
											<p class="description">Brakes Repair</p>
											<a class="more simple" href="gallery_brake_repair.html" title="READ MORE">READ MORE</a>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="row gray full-width padding-top-54 padding-bottom-61 align-center">
						<h3><span class="button-label">DO YOU LIKE WHAT YOU SEE</span> <a class="more" target="_top" href="https://1.envato.market/c/296919/275988/4415?u=https://themeforest.net/cart/add_items?item_ids=12332985&amp;ref=QuanticaLabs" title="PURCHASE TEMPLATE"><span>PURCHASE TEMPLATE</span></a></h3>
					</div>
					<!--<div class="row gray full-width padding-top-bottom-50">
						<div class="row">
							<div class="column column-1-2 align-right padding-top-7">
								<h3>EXPLORE OUR PROJECTS</h3>
							</div>
							<div class="column column-1-2">
								<a class="more float" href="?page=projects" title="VIEW ALL PROJECTS">VIEW ALL PROJECTS</a>
							</div>
						</div>
					</div>-->
					<div class="row page-margin-top-section">
						<div class="column column-1-2">
							<h3 class="box-header">OUR MISSION</h3>
							<p class="description">We offer a full range of garage services to vehicle owners located in Tucson area. All mechanic services are performed by highly qualified mechanics. We can handle any car problem.</p>
							<p>We offer a full range of garage services to vehicle owners in Tucson. Our professionals know how to handle a wide range of car services. Whether you drive a passenger car or medium sized truck or SUV, our mechanics strive to <a href="#">ensure that your vehicle</a> will be performing at its best <a href="#">before leaving</a> our car shop.</p>
							<div class="page-margin-top">
								<a class="more" href="about.html" title="READ MORE"><span>READ MORE</span></a>
							</div>
						</div>
						<div class="column column-1-2">
							<h3 class="box-header">POPULAR QUESTIONS</h3>
							<ul class="accordion margin-top-40 clearfix">
								<li>
									<div id="accordion-using-synthetic">
										<h4>Should I consider using synthetic motor oil?</h4>
									</div>
									<p>Synthetic engine oils are produced through a synthesis process that takes very small molecules and assembles them into larger designer molecules with premium lubricating properties.</p>
								</li>
								<li>
									<div id="accordion-parts-replacements">
										<h4>What parts should be replaced at what intervals?</h4>
									</div>
									<p>Synthetic engine oils are produced through a synthesis process that takes very small molecules and assembles them into larger designer molecules with premium lubricating properties.</p>
								</li>
								<li>
									<div id="accordion-track-routine">
										<h4>How do I keep track of routine maintenance?</h4>
									</div>
									<p>Synthetic engine oils are produced through a synthesis process that takes very small molecules and assembles them into larger designer molecules with premium lubricating properties.</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="row full-width top-border page-margin-top-section padding-bottom-50">
						<div class="row">
							<div class="our-clients-list-container page-margin-top">
								<ul class="our-clients-list">
									<li>
										<img src="images/logos/logo_01.png" alt="">
									</li>
									<li>
										<img src="images/logos/logo_02.png" alt="">
									</li>
									<li>
										<img src="images/logos/logo_03.png" alt="">
									</li>
									<li>
										<img src="images/logos/logo_04.png" alt="">
									</li>
									<li>
										<img src="images/logos/logo_05.png" alt="">
									</li>
									<li>
										<img src="images/logos/logo_06.png" alt="">
									</li>
									<li>
										<img src="images/logos/logo_06.png" alt="">
									</li>
									<li>
										<img src="images/logos/logo_05.png" alt="">
									</li>
									<li>
										<img src="images/logos/logo_04.png" alt="">
									</li>
									<li>
										<img src="images/logos/logo_03.png" alt="">
									</li>
									<li>
										<img src="images/logos/logo_02.png" alt="">
									</li>
									<li>
										<img src="images/logos/logo_01.png" alt="">
									</li>
									<li>
										<img src="images/logos/logo_04.png" alt="">
									</li>
									<li>
										<img src="images/logos/logo_03.png" alt="">
									</li>
									<li>
										<img src="images/logos/logo_01.png" alt="">
									</li>
									<li>
										<img src="images/logos/logo_05.png" alt="">
									</li>
								</ul>
								<div class="cs-carousel-pagination"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row dark-gray footer-row full-width padding-top-30 padding-bottom-50">
				<div class="row padding-bottom-30">
					<div class="column column-1-3">
						<ul class="contact-details-list">
							<li class="sl-small-location-map">
								<p>Tucson, AZ 80210:<br>
								501 Archwood Lane</p>
							</li>
						</ul>
					</div>
					<div class="column column-1-3">
						<ul class="contact-details-list">
							<li class="sl-small-phone-circle">
								<p>Feel Free to Call Us Now<br>
								(520) 577 2710</p>
							</li>
						</ul>
					</div>
					<div class="column column-1-3">
						<ul class="contact-details-list">
							<li class="sl-small-truck-tow">
								<p>24/7 Roadside Assistance<br>
								(520) 577 2725</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="row row-4-4 top-border page-padding-top">
					<div class="column column-1-4">
						<h6 class="box-header">ABOUT US</h6>
						<ul class="list simple margin-top-20">
							<li>Tucson, Arizona 80210</li>
							<li>501 Archwood Lane</li>
							<li><span>Mobile:</span>(520) 577 2710</li>
							<li><span>Assistance:</span>(520) 577 2725</li>
							<li><span>E-mail:</span><a href="mailto:carservice@mail.com">carservice@mail.com</a></li>
						</ul>
						<ul class="social-icons gray margin-top-26">
							<li>
								<a target="_blank" href="https://facebook.com/QuanticaLabs" class="social-facebook" title="facebook"></a>
							</li>
							<li>
								<a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
							</li>
							<li>
								<a target="_blank" href="https://1.envato.market/quanticalabs-portfolio" class="social-linkedin" title="linkedin"></a>
							</li>
							<li>
								<a href="https://pinterest.com/quanticalabs/" class="social-pinterest" title="pinterest"></a>
							</li>
						</ul>
					</div>
					<div class="column column-1-4">
						<h6 class="box-header">OUR SERVICES</h6>
						<ul class="list margin-top-20">
							<li class="template-bullet">Engine Diagnostics</li>
							<li class="template-bullet">Lube, Oil and Filters</li>
							<li class="template-bullet">Belts and Hoses</li>
							<li class="template-bullet">Air Conditioning</li>
							<li class="template-bullet">Brake Repair</li>
							<li class="template-bullet">Tire and Wheel Services</li>
							<li class="template-bullet">Other Car Services</li>
						</ul>
					</div>
					<div class="column column-1-4">
						<h6 class="box-header">POPULAR TAGS</h6>
						<ul class="taxonomies margin-top-30">
							<li><a href="category.html" title="BELTS">BELTS</a></li>
							<li><a href="category.html" title="BRAKES">BRAKES</a></li>
							<li><a href="category.html" title="DIAGNOSTICS">DIAGNOSTICS</a></li>
							<li><a href="category.html" title="ENGINE">ENGINE</a></li>
							<li><a href="category.html" title="FILTERS">FILTERS</a></li>
							<li><a href="category.html" title="HEATING">HEATING</a></li>
							<li><a href="category.html" title="OILS">OILS</a></li>
							<li><a href="category.html" title="STEERING">STEERING</a></li>
							<li><a href="category.html" title="SUSPENSION">SUSPENSION</a></li>
							<li><a href="category.html" title="TIRES">TIRES</a></li>
							<li><a href="category.html" title="TRANSMISSION">TRANSMISSION</a></li>
						</ul>
					</div>
					<div class="column column-1-4">
						<h6 class="box-header">HOURS</h6>
						<ul class="list simple margin-top-20">
							<li><span>Monday:</span>7:30am - 5:30pm</li>
							<li><span>Tuesday:</span>7:30am - 5:30pm</li>
							<li><span>Wednesday:</span>7:30am - 5:30pm</li>
							<li><span>Thursday:</span>7:30am - 5:30pm</li>
							<li><span>Friday:</span>7:30am - 5:30pm</li>
							<li><span>Saturday:</span>7:30am - 3:00pm</li>
							<li><span>Sunday:</span>Closed</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row align-center padding-top-bottom-30">
				<span class="copyright">© Copyright 2021 <a href="https://1.envato.market/car-service-mechanic-auto-shop-template" title="Carservice Template" target="_blank">Carservice Template</a> by <a href="https://quanticalabs.com" title="QuanticaLabs" target="_blank">QuanticaLabs</a></span>
			</div>
		</div>
		<a href="#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>
		<div class="background-overlay"></div>
		<!--js-->
		<script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
		<!--slider revolution-->
		<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="js/jquery.ba-bbq.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.12.1.custom.min.js"></script>
		<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
		<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
		<script type="text/javascript" src="js/jquery.easing.1.4.1.min.js"></script>
		<script type="text/javascript" src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
		<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
		<script type="text/javascript" src="js/jquery.transit.min.js"></script>
		<script type="text/javascript" src="js/jquery.hint.min.js"></script>
		<script type="text/javascript" src="js/jquery.costCalculator.min.js"></script>
		<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
		<script type="text/javascript" src="js/jquery.qtip.min.js"></script>
		<script type="text/javascript" src="js/jquery.blockUI.min.js"></script>
		<script type="text/javascript" src="js/jquery.imagesloaded-packed.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/odometer.min.js"></script>
	</body>
</html>