<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Replace head fragment -->
    <form th:replace="~{FragmentForm.html :: head}"></form>
</head>
<body>
<div class="site-container">
    <form th:replace="~{FragmentForm.html :: header-icons-info}"></form>
    <form th:replace="~{FragmentForm.html :: header-container}"></form>

    <div class="theme-page">
        <div class="row gray full-width page-header vertical-align-table">
            <div class="row full-width padding-top-bottom-50 vertical-align-cell">
                <div class="row">
                    <div class="page-header-left">
                        <h1 th:text="'Order #' + ${orderId}">Order Details</h1>
                    </div>
                    <div class="page-header-right">
                        <div class="bread-crumb-container">
                            <label>YOU ARE HERE:</label>
                            <ul class="bread-crumb">
                                <li><a th:href="@{/ti}" title="HOME">HOME</a></li>
                                <li class="separator">/</li>
                                <li><a th:href="@{/ti/orders}" title="Orders">ORDERS</a></li>
                                <li class="separator">/</li>
                                <li th:text="'Order #' + ${orderId}">Order #</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix">
            <div class="row margin-top-70">
                <div class="column column-1-4">
                    <ul class="vertical-menu">
                        <li>
                            <a href="service_engine_diagnostics.html" th:href="@{/ti/services/engine-diagnostics}"
                               title="Engine Diagnostics">
                                Engine Diagnostics
                                <span class="template-arrow-menu"></span>
                            </a>
                        </li>
                        <li>
                            <a href="service_lube_oil_filters.html" th:href="@{/ti/services/lube-oil-filters}"
                               title="Lube, Oil and Filters">
                                Lube, Oil and Filters
                                <span class="template-arrow-menu"></span>
                            </a>
                        </li>
                        <li>
                            <a href="service_belts_hoses.html" th:href="@{/ti/services/belts-hoses}"
                               title="Belts and Hoses">
                                Belts and Hoses
                                <span class="template-arrow-menu"></span>
                            </a>
                        </li>
                        <li>
                            <a href="service_air_conditioning.html" th:href="@{/ti/services/air-conditioning}"
                               title="Air Conditioning">
                                Air Conditioning
                                <span class="template-arrow-menu"></span>
                            </a>
                        </li>
                        <li>
                            <a href="service_brake_repair.html" th:href="@{/ti/services/brake-repair}"
                               title="Brake Repair">
                                Brake Repair
                                <span class="template-arrow-menu"></span>
                            </a>
                        </li>
                        <li>
                            <a href="service_tire_wheel.html" th:href="@{/ti/services/tire-wheel}"
                               title="Tire and Wheel Services">
                                Tire and Wheel Services
                                <span class="template-arrow-menu"></span>
                            </a>
                        </li>
                    </ul>

                    <div class="call-to-action page-margin-top">
                        <div class="hexagon small">
                            <div class="sl-small-percent"></div>
                        </div>
                        <h4 class="margin-top-58">ONLINE APPOINTMENT</h4>
                        <p class="description">Book your appointment now!</p>
                        <a class="more" href="appointment.html" th:href="@{/ti/appointment}"
                           title="MAKE APPOINTMENT"><span>MAKE APPOINTMENT</span></a>
                    </div>
                </div>
                <div class="column column-3-4">
                    <div class="row">
                        <div class="column column-1-2">
                            <a href="images/samples/870x580/image_06.jpg"
                               th:href="@{/images/samples/870x580/image_06.jpg}" class="prettyPhoto re-preload"
                               title="Tire and Wheel Services">
                                <img src='images/samples/480x320/image_06.jpg'
                                     th:src="@{/images/samples/480x320/image_06.jpg}" alt='img'>
                            </a>
                        </div>
                        <div class="column column-1-2">
                            <a href="images/samples/870x580/image_07.jpg"
                               th:href="@{/images/samples/870x580/image_07.jpg}" class="prettyPhoto re-preload"
                               title="Tire and Wheel Services">
                                <img src='images/samples/480x320/image_07.jpg'
                                     th:src="@{/images/samples/480x320/image_07.jpg}" alt='img'>
                            </a>
                        </div>
                    </div>

                    <div class="row page-margin-top">
                        <div class="column-1-1">
                            <h3 class="box-header" th:text="'Order #' + ${orderId} + ' information'" style="margin-bottom: 30px">Order Information</h3>
                            <table style="width: 100%; border-collapse: collapse; border: 1px solid #F5F5F5;">
                                <tr style="background-color: #F5F5F5;">
                                    <td style="padding: 10px; border: 1px solid #F5F5F5;"><strong>Owner:</strong></td>
                                    <td style="padding: 10px; border: 1px solid #F5F5F5;" th:text="${owner.firstName} + ' ' + ${owner.lastName}">John Doe</td>
                                    <td style="padding: 10px; border: 1px solid #F5F5F5; text-align: right"><strong>License Plate:</strong></td>
                                    <td style="padding: 10px; border: 1px solid #F5F5F5;" th:text="${clientCar.licensePlate}">AB1234CD</td>
                                </tr>
                                <tr style="background-color: #FFFFFF;">
                                    <td style="padding: 10px; border: 1px solid #F5F5F5;"><strong>Status:</strong></td>
                                    <td style="padding: 10px; border: 1px solid #F5F5F5;" th:text="${#strings.replace(order.status, '_', ' ')}">IN PROGRESS</td>
                                    <td style="padding: 10px; border: 1px solid #F5F5F5; text-align: right"><strong>Order Date:</strong></td>
                                    <td style="padding: 10px; border: 1px solid #F5F5F5;" th:text="${order.orderDate}">2024-09-06</td>
                                </tr>
                            </table>
                        </div>

                        <div class="column-1-1">
                            <h3 class="box-header page-margin-top">Services in this order</h3>
                            <table class="margin-top-40" style="margin-bottom: 1px !important;">
                                <thead>
                                <tr>
                                    <th style="font-size: 15px">Service Name</th>
                                    <th style="text-align: left; font-size: 15px">Price (BGN)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="serviceLog : ${orderServices}">
                                    <td th:text="${serviceLog.service.name}">Service Name</td>
                                    <td th:utext="'<span style=&quot;font-weight: bold;&quot;>' + ${#numbers.formatDecimal(serviceLog.calculatedPrice, 2, 2)} + '</span>'">Price</td>
                                </tr>
                                </tbody>
                            </table>

                            <table style="width: 100%; border-collapse: collapse; margin-top: 20px; font-family: inherit;">
                                <tr style="background-color: #F5F5F5;">
                                    <td style="padding: 10px 27px; text-align: right; font-weight: bold; color: #777; width: 50%; font-family: inherit;">
                                        Total:
                                    </td>
                                    <td style="padding: 10px 27px; text-align: left; font-weight: bold; background-color: white; color: #777; width: 50%; font-family: inherit;">
                                        <span th:utext="'<span>' + ${#numbers.formatDecimal(totalPrice, 2, 2)} + ' BGN</span>'">0.00 BGN</span>
                                    </td>
                                </tr>
                            </table>

                            <div class="row margin-top-20">
                                <div class="column column-1-2" style="text-align: right">
                                    <label for="currency">Currency:</label>
                                    <input type="text" id="currency" name="currency" placeholder="Enter currency code (e.g. EUR)">
                                </div>
                                <div class="column column-1-2" style="margin-top: 16px">
                                    <a href="#" id="downloadPdfButton" class="more simple" style="padding: 15px 15px">DOWNLOAD PDF</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row page-margin-top padding-bottom-70">
                        <div class="column column-1-2">
                            <h4 class="box-header">WHY CHOOSE US</h4>
                            <p class="margin-top-20">We offer a full range of garage services to vehicle owners in
                                Tucson. We can help you with everything from an oil change to an engine change. We can
                                handle any problem on both foreign and domestic vehicles.</p>
                            <ul class="list margin-top-20">
                                <li class="template-bullet">We make auto repair more convenient for you</li>
                                <li class="template-bullet">We are a friendly and professional <a href="#">group of
                                    people</a></li>
                                <li class="template-bullet">We handle a wide range of <a href="#">car services</a></li>
                                <li class="template-bullet">Same day service for most repairs and maintenance</li>
                                <li class="template-bullet">We get the job done right — the first time</li>
                            </ul>
                        </div>
                        <div class="column column-1-2">
                            <h4 class="box-header">POPULAR QUESTIONS</h4>
                            <ul class="accordion margin-top-40 clearfix">
                                <li>
                                    <div id="accordion-using-synthetic">
                                        <h4>Should I consider using synthetic oil?</h4>
                                    </div>
                                    <p>Synthetic engine oils are produced through a synthesis process that takes very
                                        small molecules and assembles them into larger ones.</p>
                                </li>
                                <li>
                                    <div id="accordion-parts-replacements">
                                        <h4>What parts should be replaced?</h4>
                                    </div>
                                    <p>Synthetic engine oils are produced through a synthesis process that takes very
                                        small molecules and assembles them into larger ones.</p>
                                </li>
                                <li>
                                    <div id="accordion-track-routine">
                                        <h4>How do I keep track of routine?</h4>
                                    </div>
                                    <p>Synthetic engine oils are produced through a synthesis process that takes very
                                        small molecules and assembles them into larger ones.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form th:replace="~{FragmentForm.html :: footer-and-copyright}"></form>
</div>
<a href="#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>
<div class="background-overlay"></div>
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/rs-plugin/js/jquery.themepunch.tools.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ba-bbq.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui-1.12.1.custom.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ui.touch-punch.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.isotope.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.easing.1.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.carouFredSel-6.2.1-packed.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.touchSwipe.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.transit.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.hint.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.costCalculator.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.prettyPhoto.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.qtip.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.blockUI.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.imagesloaded-packed.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/odometer.min.js}"></script>
<script type="text/javascript">
    document.getElementById('downloadPdfButton').addEventListener('click', function(e) {
        e.preventDefault();

        const orderId = [[${orderId}]];
        const currency = document.getElementById('currency').value || 'BGN';

        window.location.href = `/ti/orders/${orderId}/download-pdf?currency=${currency}`;
    });
</script>
</body>
</html>
