<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="FragmentForm.html :: header"></form>
<body>
<div class="site-container">
    <form th:replace="FragmentForm.html :: header-icons-info"></form>
    <form th:replace="FragmentForm.html :: header-container"></form>
    <div class="theme-page padding-bottom-70">
        <div class="row gray full-width page-header vertical-align-table">
            <div class="row full-width padding-top-bottom-50 vertical-align-cell">
                <div class="row">
                    <div class="page-header-left">
                        <h1>CURTIS GREENE</h1>
                    </div>
                    <div class="page-header-right">
                        <div class="bread-crumb-container">
                            <label>YOU ARE HERE:</label>
                            <ul class="bread-crumb">
                                <li>
                                    <a title="Our Team" href="team.html">
                                        OUR TEAM
                                    </a>
                                </li>
                                <li class="separator">
                                    &#47;
                                </li>
                                <li>
                                    CURTIS GREENE
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="row padding-top-70">
                <div class="column column-1-3">
                    <div class="team-box single">
                        <a href="team_curtis_greene.html" title="Curtis Greene">
                            <img alt="Curtis Greene" src="../static/images/samples/480x320/team_06.png">
                        </a>
                        <div class="team-content">
                            <h4>
                                <a href="team_curtis_greene.html" title="Curtis Greene">CURTIS GREENE</a>
                                <span>CT-OFFICER</span>
                            </h4>
                        </div>
                        <ul class="social-icons">
                            <li><a title="" target="_blank" href="https://facebook.com/QuanticaLabs"
                                   class="social-facebook">&nbsp;</a></li>
                            <li><a title="" target="_blank" href="https://twitter.com/quanticalabs"
                                   class="social-twitter">&nbsp;</a></li>
                            <li><a title="" target="_blank" href="https://1.envato.market/quanticalabs-portfolio"
                                   class="social-linkedin">&nbsp;</a></li>
                        </ul>
                    </div>
                </div>
                <div class="column column-1-3">
                    <h3 class="box-header">RESUME</h3>
                    <table class="margin-top-40 align-left">
                        <tbody>
                        <tr>
                            <td>Name: Curtis Greene</td>
                        </tr>
                        <tr>
                            <td>Date of birth: 23 January 1988</td>
                        </tr>
                        <tr>
                            <td>Address: 272 Linden Avenue, Winter Park</td>
                        </tr>
                        <tr>
                            <td>Email: <a href="mailto:curtis.greene@mail.com">curtis.greene@mail.com</a></td>
                        </tr>
                        <tr>
                            <td>Phone: +149 75 23 222 35</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="column column-1-3">
                    <h3 class="box-header">PROFILE</h3>
                    <p class="margin-top-20">We offer a full range of garage services to vehicle owners located in
                        Tucson area. All mechanic services are performed by highly qualified mechanics. We can handle
                        any car problem.</p>
                    <p>We offer full range of garage services to vehicle owners in Tucson. Our professionals know how to
                        handle a wide range of car services. Whether you drive a passenger car or medium sized truck or
                        SUV, our mechanics strive to ensure that your vehicle will be performing at its best before
                        leaving our car shop.</p>
                </div>
            </div>
            <div class="row top-border page-margin-top-section full-width">
                <div class="row page-margin-top-section">
                    <div class="column column-1-3">
                        <ul class="features-list">
                            <li>
                                <h5>TURNKEY</h5>
                                <div class="icon sl-small-share-time"></div>
                                <p>We combine quality workmanship, superior knowledge and low prices.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="column column-1-3">
                        <ul class="features-list">
                            <li>
                                <h5>RESOURCES</h5>
                                <div class="icon sl-small-person"></div>
                                <p>We have the experience, personel and resources to make.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="column column-1-3">
                        <ul class="features-list">
                            <li>
                                <h5>SUPPLY</h5>
                                <div class="icon sl-small-checklist"></div>
                                <p>Work with us involves a carefully planned series of steps.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row full-width gray page-padding-top-section page-margin-top-section padding-bottom-50">
                <div class="row">
                    <h3 class="box-header">MY SKILLS</h3>
                </div>
                <div class="row margin-top-40">
                    <div class="column column-1-2">
                        <div class="progress-bar">
                            <div class="single-bar">
                                <small class="bar-label">Tire and Wheel Services <span
                                        class="bar-label-units">95%</span></small>
                                <span data-percentage-value="95" class="bar animated-element"></span>
                            </div>
                            <div class="single-bar">
                                <small class="bar-label">Lube, Oil and Filters <span class="bar-label-units">72%</span></small>
                                <span data-percentage-value="72" class="bar animated-element"></span>
                            </div>
                            <div class="single-bar">
                                <small class="bar-label">Belts and Hoses <span
                                        class="bar-label-units">60%</span></small>
                                <span data-percentage-value="60" class="bar animated-element"></span>
                            </div>
                        </div>
                    </div>
                    <div class="column column-1-2">
                        <div class="progress-bar">
                            <div class="single-bar">
                                <small class="bar-label">Engine Diagnostics <span
                                        class="bar-label-units">92%</span></small>
                                <span data-percentage-value="92" class="bar animated-element"></span>
                            </div>
                            <div class="single-bar">
                                <small class="bar-label">Brake Repair <span class="bar-label-units">75%</span></small>
                                <span data-percentage-value="75" class="bar animated-element"></span>
                            </div>
                            <div class="single-bar">
                                <small class="bar-label">Air Conditioning <span
                                        class="bar-label-units">89%</span></small>
                                <span data-percentage-value="89" class="bar animated-element"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row page-padding-top-section">
                <div class="column column-2-3">
                    <h3 class="box-header">MY EXPERIENCE</h3>
                    <div class="timeline-item vertical-align-table margin-top-40">
                        <div class="timeline-left vertical-align-cell">
                            <div class="label-container">
                                <div class="animated-element animation-slideRight25">
                                    <span class="label-triangle"></span>
                                    <label>2014 - 2015</label>
                                </div>
                                <span class="timeline-circle animated-element animation-scale"></span>
                            </div>
                        </div>
                        <div class="timeline-content vertical-align-cell">
                            <h4 class="clearfix">
                                <span class="timeline-title">HITACHI CONSTRUCT</span><span class="timeline-subtitle">DIGGER OPERATOR</span>
                            </h4>
                            <p>Paetos dignissim at cursus elefeind norma arcu. Pellentesque accumsan est in tempus etos
                                ullamcorper, sem quam suscipit lacus maecenas tortor.</p>
                        </div>
                    </div>
                    <div class="timeline-item vertical-align-table">
                        <div class="timeline-left vertical-align-cell">
                            <div class="label-container">
                                <div class="animated-element animation-slideRight25">
                                    <span class="label-triangle"></span>
                                    <label>2012 - 2014</label>
                                </div>
                                <span class="timeline-circle animated-element animation-scale"></span>
                            </div>
                        </div>
                        <div class="timeline-content vertical-align-cell">
                            <h4 class="clearfix">
                                <span class="timeline-title">BRICK LTD</span><span
                                    class="timeline-subtitle">FOREMAN</span>
                            </h4>
                            <p>Paetos dignissim at cursus elefeind norma arcu. Pellentesque accumsan est in tempus etos
                                ullamcorper, sem quam suscipit lacus maecenas tortor.</p>
                        </div>
                    </div>
                    <div class="timeline-item vertical-align-table">
                        <div class="timeline-left vertical-align-cell">
                            <div class="label-container">
                                <div class="animated-element animation-slideRight25">
                                    <span class="label-triangle"></span>
                                    <label>2011 - 2012</label>
                                </div>
                                <span class="timeline-circle animated-element animation-scale"></span>
                            </div>
                        </div>
                        <div class="timeline-content vertical-align-cell">
                            <h4 class="clearfix">
                                <span class="timeline-title">HOME RENEW</span><span class="timeline-subtitle">SENIOR FOREMAN</span>
                            </h4>
                            <p>Paetos dignissim at cursus elefeind norma arcu. Pellentesque accumsan est in tempus etos
                                ullamcorper, sem quam suscipit lacus maecenas tortor.</p>
                        </div>
                    </div>
                </div>
                <div class="column column-1-3">
                    <h3 class="box-header">TESTIMONIALS</h3>
                    <div class="row testimonials-container type-small margin-top-40">
                        <div class="cs-carousel-pagination"></div>
                        <ul class="testimonials-list autoplay-0 pause_on_hover-1">
                            <li>
                                <p>"I have taken several of the family cars here for the past several years and
                                    without exception the experiences have been outstanding. I would highly recommend
                                    this place to any one who wants great service, honest value, and really great
                                    people."</p>
                                <div class="ornament">
                                    <div class="hexagon small">
                                        <div class="sl-small-camper"></div>
                                    </div>
                                </div>
                                <!---<div class="ornament empty-circle"></div>-->
                                <div class="author-details-box">
                                    <h6>MITCHEL SMITH</h6>
                                    <div class="author-details">ENGINE DIAGNOSTICS</div>
                                </div>
                            </li>
                            <li>
                                <p>"I have taken several of the family cars here for the past several years and
                                    without exception the experiences have been outstanding. I would highly recommend
                                    this place to any one who wants great service, honest value, and really great
                                    people."</p>
                                <div class="ornament">
                                    <div class="hexagon small">
                                        <div class="sl-small-engine-belt"></div>
                                    </div>
                                </div>
                                <div class="author-details-box">
                                    <h6>DEBORA HILTON</h6>
                                    <div class="author-details">BELTS AND HOSES</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form th:replace="FragmentForm.html :: footer-and-copyright"></form>
</div>
<a href="#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>
<div class="background-overlay"></div>
<!--js-->
<script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
<!--slider revolution-->
<script type="text/javascript" src="../static/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="../static/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.ba-bbq.min.js"></script>
<script type="text/javascript" src="../static/js/jquery-ui-1.12.1.custom.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.easing.1.4.1.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" src="../static/js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.transit.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.hint.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.costCalculator.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="../static/js/jquery.qtip.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.blockUI.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.imagesloaded-packed.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/odometer.min.js"></script>
</body>
</html>