<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{FragmentForm.html::head}"></head>
<body>
<div class="site-container">
    <header th:replace="~{FragmentForm.html::header-icons-info}"></header>
    <header th:replace="~{FragmentForm.html::header-container}"></header>
    <div class="theme-page padding-bottom-70">
        <div class="row gray full-width page-header vertical-align-table">
            <div class="row full-width padding-top-bottom-50 vertical-align-cell">
                <div class="row">
                    <div class="page-header-left">
                        <h1 th:text="${user.firstName} + ' ' + ${user.lastName}"></h1>
                    </div>
                    <div class="page-header-right">
                        <div class="bread-crumb-container">
                            <label>YOU ARE HERE:</label>
                            <ul class="bread-crumb">
                                <li>
                                    <a title="USER DETAILS" th:href="@{/ti/users/{id}/details(id=${user.id})}">
                                        USER DETAILS
                                    </a>
                                </li>
                                <li class="separator">
                                    &#47;
                                </li>
                                <li th:text="${user.firstName} + ' ' + ${user.lastName}"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="row padding-top-70">
                <div class="column column-1-3">
                    <div class="team-box single">
                        <a th:href="@{/ti/users/{id}/details(id=${user.id})}"
                           th:title="${user.firstName} + ' ' + ${user.lastName}">
                            <img th:src="${user.avatar.avatar}" alt="Profile Picture" style="max-width: 380px; max-height: 400px ;min-width: 380px; min-height: 400px"/>
                        </a>
                        <div class="team-content">
                            <h4>
                                <a th:href="@{/ti/users/{id}/details(id=${user.id})}"
                                   th:title="${user.firstName} + ' ' + ${user.lastName}"
                                   th:text="${user.firstName} + ' ' + ${user.lastName}"></a>
                                <span th:text="${user.role.name}"></span>
                            </h4>
                        </div>
                        <ul class="social-icons">
                            <li><a title="" target="_blank" href="https://facebook.com/QuanticaLabs"
                                   class="social-facebook">&nbsp;</a></li>
                            <li><a title="" target="_blank" href="https://twitter.com/quanticalabs"
                                   class="social-twitter">&nbsp;</a></li>
                            <li><a title="" target="_blank" href="https://1.envato.market/quanticalabs-portfolio"
                                   class="social-linkedin">&nbsp;</a></li>
                        </ul>
                    </div>
                </div>
                <div class="column column-1-3">
                    <h3 class="box-header">RESUME</h3>
                    <form method="post" th:action="@{/ti/users/{id}/edit(id=${user.id})}" id="edit-info-form">
                        <table class="margin-top-40 align-left">
                            <tbody>
                            <tr>
                                <td>
                                    <span id="full-name-text" th:text="'Full name: ' + ${user.firstName} + ' ' + ${user.lastName}"></span>
                                    <input type="text" name="firstName" id="first-name-input" th:value="${user.firstName}" style="display:none;" placeholder="First Name"/>
                                    <input type="text" name="lastName" id="last-name-input" th:value="${user.lastName}" style="display:none;" placeholder="Last Name"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="username-text" th:text="'Username: ' + ${user.username}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="email-text" th:text="'Email: ' + ${user.email}"></span>
                                    <input type="email" name="email" id="email-input" th:value="${user.email}" style="display:none;" placeholder="Email"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="phone-text" th:text="'Phone: ' + ${user.phoneNumber}"></span>
                                    <input type="text" name="phoneNumber" id="phone-input" th:value="${user.phoneNumber}" style="display:none;" placeholder="Phone Number"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="role-text" th:text="'Role: ' + ${user.role.name}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="column column-1-3">
                    <h3 class="box-header">PROFILE</h3>
                    <p class="margin-top-20">We offer a full range of garage services to vehicle owners located in
                        Tucson area. All mechanic services are performed by highly qualified mechanics. We can handle
                        any car problem.</p>
                    <p>We offer full range of garage services to vehicle owners in Tucson. Our professionals know how to
                        handle a wide range of car services. Whether you drive a passenger car or medium sized truck or
                        SUV, our mechanics strive to ensure that your vehicle will be performing at its best before
                        leaving our car shop.</p>
                </div>
                <div class="row button-section align-center margin-top-40"
                     th:if="${currentUser != null} and (${currentUser.id} == ${user.id})">
                    <form method="post" enctype="multipart/form-data" th:action="@{/ti/users/upload-photo}">
                        <label for="avatarFile" class="custom-button">Choose Photo</label>
                        <input type="file" id="avatarFile" name="avatarFile" style="display: none;"
                               onchange="this.form.submit()"/>
                    </form>
                    <div th:if="${isAuthenticated}">
                        <button id="edit-info-button" class="custom-button" onclick="toggleEditForm()" style="padding: 12px 12px ; margin-right: 7px;">Edit Info</button>
                        <button id="save-info-button" class="custom-button" onclick="saveChanges()" style="display:none; padding: 12px 12px ; margin-right: 7px;">Save</button>
                        <a th:href="@{/ti/users/{id}/password-change(id=${user.id})}" class="custom-button" style="text-decoration: none; padding-bottom: 11px">Change Password</a>
                        <script>
                            function toggleEditForm() {
                                const isEditing = document.getElementById('edit-info-button').style.display !== 'none';

                                // Toggle visibility of text spans and input fields
                                document.getElementById('full-name-text').style.display = isEditing ? 'none' : 'inline';
                                document.getElementById('first-name-input').style.display = isEditing ? 'inline' : 'none';
                                document.getElementById('last-name-input').style.display = isEditing ? 'inline' : 'none';

                                document.getElementById('email-text').style.display = isEditing ? 'none' : 'inline';
                                document.getElementById('email-input').style.display = isEditing ? 'inline' : 'none';

                                document.getElementById('phone-text').style.display = isEditing ? 'none' : 'inline';
                                document.getElementById('phone-input').style.display = isEditing ? 'inline' : 'none';

                                // Toggle edit button and save button
                                document.getElementById('edit-info-button').style.display = isEditing ? 'none' : 'inline-block';
                                document.getElementById('save-info-button').style.display = isEditing ? 'inline-block' : 'none';
                            }

                            function saveChanges() {
                                document.getElementById('edit-info-form').submit();
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{FragmentForm.html::footer-and-copyright}"></footer>
</div>
<a href="#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>
<div class="background-overlay"></div>
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/rs-plugin/js/jquery.themepunch.tools.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ba-bbq.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui-1.12.1.custom.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ui.touch-punch.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.isotope.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.easing.1.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.carouFredSel-6.2.1-packed.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.touchSwipe.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.transit.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.hint.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.costCalculator.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.prettyPhoto.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.qtip.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.blockUI.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.imagesloaded-packed.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/odometer.min.js}"></script>
</body>
</html>
