<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="FragmentForm.html :: head"></form>
<body>
<div class="site-container">
    <form th:replace="FragmentForm.html :: header-icons-info"></form>
    <form th:replace="FragmentForm.html :: header-container"></form>
    <div class="theme-page padding-bottom-66">
        <div class="clearfix">
            <div class="row full-width">
                <div class="three-images-container">
                    <img src="../static/images/Audi.jpg" th:src="@{/images/Audi.jpg}" alt="Audi">
                    <img src="../static/images/Volkswagen.png" th:src="@{/images/Volkswagen.png}" alt="Volkswagen">
                    <img src="../static/images/Porsche.png" th:src="@{/images/Porsche.png}" alt="Porsche">
                </div>
            </div>


            <div class="row page-margin-top">
                <div class="column column-1-1">
                    <h2 class="box-header" style="margin-bottom: 25px;">VEHICLES WE'VE REPAIRED</h2>

                    <div class="filter-container"
                         style="display: flex; gap: 15px; flex-wrap: wrap; justify-content: center; padding-bottom: 50px">

                        <form th:action="@{/ti/vehicles}" method="get">
                            <div class="filter-container">
                                <select name="brand" id="brand" class="filter-input filter-select" style="width: 160px; height: 38px;">
                                    <option value="" th:selected="${brand == null}">All Brands</option>
                                    <option value="Audi" th:selected="${brand == 'Audi'}">Audi</option>
                                    <option value="Volkswagen" th:selected="${brand == 'Volkswagen'}">Volkswagen</option>
                                    <option value="Porsche" th:selected="${brand == 'Porsche'}">Porsche</option>
                                </select>

                                <input type="text" id="modelName" name="modelName" class="filter-input"
                                       placeholder="Search By Model..." th:value="${modelName}"/>

                                <input type="text" id="engineType" name="engineType" class="filter-input"
                                       placeholder="Search By Engine Type..." th:value="${engineType}"/>

                                <input type="text" id="year" name="year" class="filter-input"
                                       placeholder="Search By Year..." th:value="${year}"/>

                                <button type="submit" class="modern-button" style="height: 38px; width: 38px;">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="vehicle-list">
                        <div class="row vehicle-item gray">
                            <div class="column column-1-4" style="font-weight: bold; font-size: 18px;">Brand</div>
                            <div class="column column-1-4" style="font-weight: bold; font-size: 18px;">Model</div>
                            <div class="column column-1-4" style="font-weight: bold; font-size: 18px;">Engine Type</div>
                            <div class="column column-1-4" style="font-weight: bold; font-size: 18px;">Year</div>
                        </div>
                        <div class="vehicle-list">
                            <div th:each="vehicle, iterStat : ${vehicles}"
                                 th:class="${iterStat.index % 2 == 0} ? 'vehicle-item white' : 'vehicle-item gray'">
                                <div class="column column-1-4 brand-column"
                                     style="display: flex; align-items: center; justify-content: center;">
                                    <img th:src="@{'/images/audi-logo.png'}" th:if="${vehicle.brand.name == 'Audi'}" alt="Audi logo"
                                         class="brand-logo" style="width: 25px; height: auto; margin-right: 8px;">
                                    <img th:src="@{'/images/vw-logo.jpg'}" th:if="${vehicle.brand.name == 'Volkswagen'}" alt="Volkswagen logo"
                                         class="brand-logo" style="width: 25px; height: auto; margin-right: 8px;">
                                    <img th:src="@{'/images/porsche-logo.jpg'}" th:if="${vehicle.brand.name == 'Porsche'}" alt="Porsche logo"
                                         class="brand-logo" style="width: 25px; height: auto; margin-right: 8px;">

                                    <!-- Текст за името на марката -->
                                    <span th:text="${vehicle.brand.name}"></span>
                                </div>
                                <div class="column column-1-4" th:text="${vehicle.model.name}">Model</div>
                                <div class="column column-1-4" th:text="${vehicle.engineType.name}">Engine Type</div>
                                <div class="column column-1-4" th:text="${vehicle.year.year}">Year</div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                        <ul>
                            <li th:if="${currentPage > 0}">
                                <a th:href="@{/ti/vehicles(page=${currentPage - 1}, size=${size}, brand=${brand}, modelName=${modelName}, year=${year}, engineType=${engineType})}">Previous</a>
                            </li>

                            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                                <a th:href="@{/ti/vehicles(page=${i}, size=${size}, brand=${brand}, modelName=${modelName}, year=${year}, engineType=${engineType})}"
                                   th:text="${i + 1}" th:classappend="${i == currentPage} ? 'active' : ''"></a>
                            </li>

                            <li th:if="${currentPage < totalPages - 1}">
                                <a th:href="@{/ti/vehicles(page=${currentPage + 1}, size=${size}, brand=${brand}, modelName=${modelName}, year=${year}, engineType=${engineType})}">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <form th:replace="FragmentForm.html :: footer-and-copyright"></form>
</div>
<a href="#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>
<div class="background-overlay"></div>
<!--js-->
<script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
<!--slider revolution-->
<script type="text/javascript" src="../static/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"
        th:src="@{/plugins/rs-plugin/js/jquery.themepunch.tools.min.js}"></script>
<script type="text/javascript" src="../static/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"
        th:src="@{/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.ba-bbq.min.js" th:src="@{/js/jquery.ba-bbq.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery-ui-1.12.1.custom.min.js"
        th:src="@{/js/jquery-ui-1.12.1.custom.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.ui.touch-punch.min.js"
        th:src="@{/js/jquery.ui.touch-punch.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.isotope.min.js" th:src="@{/js/jquery.isotope.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.easing.1.4.1.min.js"
        th:src="@{/js/jquery.easing.1.4.1.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.carouFredSel-6.2.1-packed.js"
        th:src="@{/js/jquery.carouFredSel-6.2.1-packed.js}"></script>
<script type="text/javascript" src="../static/js/jquery.touchSwipe.min.js"
        th:src="@{/js/jquery.touchSwipe.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.transit.min.js" th:src="@{/js/jquery.transit.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.hint.min.js" th:src="@{/js/jquery.hint.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.costCalculator.min.js"
        th:src="@{/js/jquery.costCalculator.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.prettyPhoto.js" th:src="@{/js/jquery.prettyPhoto.js}"></script>
<script type="text/javascript" src="../static/js/jquery.qtip.min.js" th:src="@{/js/jquery.qtip.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.blockUI.min.js" th:src="@{/js/jquery.blockUI.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.imagesloaded-packed.js"
        th:src="@{/js/jquery.imagesloaded-packed.js}"></script>
<script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<script type="text/javascript" src="../static/js/odometer.min.js" th:src="@{/js/odometer.min.js}"></script>
</body>
</html>